
/** DARK **/
$dark-1: #352437;
$dark-text: #3a4042;

/** QIKAA THEME  **/
/** LIGHT  **/
$light-1: #FF9966;
$light-2: #ff8765;
$light-3: #FF5E62;

/** ATMOS THEME **/
$light-4: #7ad5e9;
$light-5: #4a929f;
$light-6: #1c3b41;

/** Standard **/
$white: white;
$cream: #fff9f1;
$grey: rgb(185, 185, 185, 0.20);
$lightblack : rgb(0, 0, 0, 0.5);


