
/** DARK **/
$dark-1: #352437;


/** LIGHT  **/
$light-1: #FF9966;
$light-2: #ff8765;
$light-3: #FF5E62;



/** Standard **/
$white: white;
$grey: rgb(185, 185, 185, 0.20);
$lightblack : rgb(0, 0, 0, 0.5);