@import './colors.scss';

.qikaa {
    --light-1: #FF9966;
    --light-2: #ff8765;
    --light-3: #FF5E62;
    --dark-1: #352437;
}

.atmos {
    --light-1: #6cd6f1;
    --light-2: #6cd6f1;
    --light-3: #2d6a77;
    --dark-1 : #352437;
}

