@import './colors.scss';

.qikaa {
    --light-1: #FF9966;
    --light-2: #ff8765;
    --light-3: #FF5E62;
    --dark-1: #352437;
    --dark-1-tr: #3524370f;
    --dark-3: #35243770;
    --dark-2: #726973;
}

.atmos {
    --light-1: #6cd6f1;
    --light-2: #6cd6f1;
    --light-3: #2d6a77;
    --dark-1 : #352437;
    --dark-1-tr: #3524370f;
    --dark-3: #35243770;
    --dark-2: #726973;
}

.orus {
    --light-1: rgba(253, 246, 163);
    --light-2: #c9a95f;
    --light-3: rgba(178, 138, 80, 1);
    --dark-1 : #352437;
    --dark-1-tr: #3524370f;
    --dark-3: #35243770;
    --dark-2: #726973;
}

.xhan {
    --light-1: #e27e97;
    --light-2: #aa3553;
    --light-3: #56374d;
    --dark-1 : #352437;
    --dark-1-tr: #3524370f;
    --dark-3: #35243770;
    --dark-2: #726973;
}

.yosh {
    --light-1: #b79dc6;
    --light-2: #7a6888;
    --light-3: #52405f;
    --dark-1 : #352437;
    --dark-1-tr: #3524370f;
    --dark-3: #35243770;
    --dark-2: #726973;
}

.renko {
    --light-1: #bf5052;
    --light-2: #a44346;
    --light-3: #3c2529;
    --dark-1 : #352437;
    --dark-1-tr: #3524370f;
    --dark-3: #35243770;
    --dark-2: #726973;
}


