<div class="rules-container">
  <div class="intro">
    <h1>{{ 'rules.title' | translate }}</h1>
    <p>
      {{ 'rules.description' | translate }}
    </p>
  </div>

  <a
    class="rules-button"
    href="../../../assets/data/rulebook_FR.pdf"
    target="_blank">
    <div class="text">
      <h1>Livre des règles v2</h1>
      <p>Clickez pour télécharger en pdf</p>
    </div>
    <img src="../../../assets/img/rule_book/button_fr.png" alt="" />
  </a>
  <a
    class="rules-button"
    href="../../../assets/data/rulebook_EN.pdf"
    target="_blank">
    <div class="text">
      <h1>Rulebook v2</h1>
      <p>Click to download in pdf</p>
    </div>
    <img src="../../../assets/img/rule_book/button_en.png" alt="" />
  </a>
  <a class="discord-container" href="https://discord.com/invite/TaNkhRuBzS" target="_blank">
    <img src="../../../assets/img/logos/discord-light.png" alt="">
    <p>
      {{ 'rules.discord' | translate }}
    </p>
 
  </a>
</div>
<app-footer></app-footer>
