<div class="loader-container" [ngClass]="onLeave ? 'on-leave' : ''">
  <img
    class="rivals-logo"
    src="../../assets/img/rivals-logo-contour.png"
    alt="" />
  <h1 class="rivals-side">RIVALS</h1>
  <div class="left">
    @if (!showQikaa && !showAtmos) {
      <div @fadeIn class="text-container">
        <div class="title">
          <h1>Choisissez votre</h1>
          <h1 class="ashak">Ashak</h1>
        </div>
        <p>
          {{ 'ashak.choice.ashak.description' | translate }}
        </p>
      </div>
    }
    @if (showQikaa || showAtmos) {
      <div @fadeIn class="ashak-container" [ngClass]="showAtmos ? 'atmos' : ''">
        <h1>{{ showQikaa ? 'QIKAA' : 'ATMOS' }}</h1>
        <p>
          {{
            showQikaa
              ? ('ashak.choice.qikaa.description.1' | translate)
              : ('ashak.choice.atmos.description.1' | translate)
          }}
        </p>
        <p>
          {{
            showQikaa
              ? ('ashak.choice.qikaa.description.2' | translate)
              : ('ashak.choice.atmos.description.2' | translate)
          }}
        </p>
        <p>
          {{
            showQikaa
              ? ('ashak.choice.qikaa.description.3' | translate)
              : ('ashak.choice.atmos.description.3' | translate)
          }}
        </p>
        <p>
          {{
            showQikaa
              ? ('ashak.choice.qikaa.description.4' | translate)
              : ('ashak.choice.atmos.description.4' | translate)
          }}
        </p>
      </div>
    }
  </div>

  <div class="right">
    <div
      (mouseenter)="showQikaa = true"
      (mouseleave)="showQikaa = false"
      (click)="selectAshak('qikaa')"
      class="top">
      <img @fadeInImg src="../../assets/img/qikaa_choice.png" alt="" />
    </div>
    <div
      (mouseenter)="showAtmos = true"
      (mouseleave)="showAtmos = false"
      (click)="selectAshak('atmos')"
      class="bottom">
      <img @fadeInImg src="../../assets/img/atmos_choice.png" alt="" />
    </div>
  </div>
</div>
