<div class="loader-container" [ngClass]="onLeave ? 'on-leave' : ''">
    <img
      class="rivals-logo"
      src="../../assets/img/rivals-logo-contour.png"
      alt=""
    />
    <h1 class="rivals-side">RIVALS</h1>
    <div class="left">
      <div @fadeIn *ngIf="!showQikaa && !showAtmos" class="text-container">
        <div class="title">
          <h1>Choisissez votre</h1>
          <h1 class="ashak">Ashak</h1>
        </div>
        <p>
          Ils sont désignés par leur clan et devront s'affronter lors du Rivals.
          Ils ont chacun leur pouvoir et leurs spécifictés.
        </p>
      </div>
      <div @fadeIn
        *ngIf="showQikaa || showAtmos"
        class="ashak-container"
        [ngClass]="showAtmos ? 'atmos' : ''"
      >
        <h1>{{ showQikaa ? "QIKAA" : "ATMOS" }}</h1>
        <p>
          {{
            showQikaa
              ? "Qikaa est une pirate qui vient de Kelud, une planète intense où la poussière règne. ELle a apprit dès son plus jeune âge à devenir une ashak de renom lol."
              : "Atmos est un changeforme solide qui aime le combat rapproché et à su, de par son expérience décellé les pires pièges de l'univers."
          }}
        </p>
      </div>
    </div>
  
    <div class="right">
      <div
        (mouseenter)="showQikaa = true"
        (mouseleave)="showQikaa = false"
        (click)="selectAshak('qikaa')"
        class="top"
      >
        <img @fadeInImg src="../../assets/img/qikaa_choice.png" alt="" />
      </div>
      <div
        (mouseenter)="showAtmos = true"
        (mouseleave)="showAtmos = false"
        (click)="selectAshak('atmos')"
        class="bottom"
      >
        <img @fadeInImg src="../../assets/img/atmos_choice.png" alt="" />
      </div>
    </div>
  </div>
  