@if (isLoading()) {
  <div class="loader qikaa">
    <div class="spinner"></div>
  </div>
}

@if (showCardDetailsComment() && selectedCard()) {
  <app-card-details-comment
    (cardUpdated)="updateCardFromComment($event)"
    [card]="selectedCard()"
    (closeCardDetailsComment)="
      showCardDetailsComment.set(false); selectedCard.set(null)
    "></app-card-details-comment>
}

<div class="cards-container">
  @if (showAddCard()) {
    @if (showNewCategory()) {
      <div class="modal-add-category">
        <form>
          <h1>Gestion des catégories</h1>
          <div class="category-list">
            @for (category of categories(); track $index) {
              <div
                (mouseenter)="selectedCategory.set(category)"
                (mouseleave)="selectedCategory.set(null)"
                class="category-item">
                <span class="category-name">{{ category }}</span>
                <button
                  type="button"
                  class="delete-button"
                  (click)="deleteCategory(category)">
                  <img src="../../../../assets/icons/delete_icon.png" alt="" />
                </button>
              </div>
            }
          </div>
          <input
            type="text"
            (input)="setNewCategory($event)"
            [value]="newCategory()" />
          <div class="button-row">
            <button
              class="add-card-button"
              type="button"
              (click)="addCategory()">
              Ajouter
            </button>
            <button
              class="add-card-button delete"
              type="button"
              (click)="showNewCategory.set(false)">
              Fermer
            </button>
          </div>
        </form>
      </div>
    }
    <div @fadeInOutFast class="modal-add-card">
      <form (submit)="addCard()" [formGroup]="newCardForm">
        <button type="button" class="close-button" (click)="closeModal()">
          <img src="../../../../assets/icons/close-logo.png" alt="close" />
        </button>

        <h1>
          @if (selectedCard()) {
            Modifier la carte "{{ selectedCard().name_fr }}"
          } @else {
            Ajouter une carte
          }
        </h1>
        <div class="row-form">
          <div class="column-form flex-3">
            <div class="controls-row">
              <label for="name_fr">Nom de la carte</label>
              <div class="controls">
                <input
                  [ngClass]="{
                    'is-error':
                      newCardForm.get('name_fr')?.invalid &&
                      newCardForm.get('name_fr')?.touched,
                  }"
                  placeholder="Le nom de la carte en FR"
                  type="text"
                  formControlName="name_fr" />
                <input
                  [ngClass]="{
                    'is-error':
                      newCardForm.get('name_en')?.invalid &&
                      newCardForm.get('name_en')?.touched,
                  }"
                  placeholder="Le nom de la carte en EN"
                  type="text"
                  formControlName="name_en" />
              </div>
            </div>

            <div class="controls-row">
              <label for="image">Image</label>
              <div class="mini-row images-container">
                @if (imagesUrl().length > 0) {
                  <div @growFromTop class="menu-images-uploaded">
                    @for (image of imagesUrl(); track $index) {
                      <div
                        (click)="selectedUploadedImage.set(image)"
                        class="image-item">
                        <img [src]="image" alt="" />
                      </div>
                    }
                  </div>
                }
                <div class="controls">
                  <input
                    class="custom-file-input"
                    type="file"
                    id="image"
                    accept="image/*"
                    (change)="onImageSelected($event, 'standard')" />
                </div>
                @if (selectedUploadedImage()) {
                  <div class="selected-image-container">
                    <div class="selected-image">
                      <img [src]="selectedUploadedImage()" alt="" />
                    </div>
                    <button
                      type="button"
                      class="delete-button"
                      (click)="selectedUploadedImage.set(null)">
                      <img
                        src="../../../../assets/icons/delete_icon.png"
                        alt="" />
                    </button>
                  </div>
                } @else {
                  <button
                    class="open-images-button"
                    type="button"
                    (click)="openImages()">
                    @if (showImagesUploaded() && imagesUrl().length > 0) {
                      <img src="../../../../assets/icons/close.png" alt="" />
                    } @else if (imagesLoading()) {
                      <div class="small-loader qikaa">
                        <div class="spinner"></div>
                      </div>
                    } @else {
                      Voir les images
                    }
                  </button>
                }
              </div>
            </div>

            <div class="controls-row">
              <label for="type">Type, Sous-type et Ashak</label>
              <div class="controls">
                <select formControlName="type">
                  <option value="">Sélectionner un type</option>
                  <option value="attaque">Attaque</option>
                  <option value="tactique">Tactique</option>
                  <option value="competence">Compétence</option>
                  <option value="guilde">Guilde</option>
                  <option value="evenement">Événement</option>
                  <option value="ultime">Ultime</option>
                </select>
                <select
                  [ngClass]="{
                    'is-error':
                      newCardForm.get('subtype')?.invalid &&
                      newCardForm.get('subtype')?.touched,
                  }"
                  formControlName="subtype">
                  <option [ngValue]="null">Aucun</option>
                  @for (subtype of subtypes(); track $index) {
                    <option [value]="subtype">{{ subtype }}</option>
                  }
                </select>
                <select formControlName="ashak">
                  <option [ngValue]="null">Aucun</option>
                  <option value="qikaa">Qikaa</option>
                  <option value="atmos">Atmos</option>
                  <option value="gyaleis">Gyaleis</option>
                  <option value="orus">Orus</option>
                  <option value="renko">Renko</option>
                  <option value="phae">Phae</option>
                  <option value="yosh">Yosh</option>
                  <option value="xhan">Xhan</option>
                </select>
              </div>
            </div>
            @let showRare = type() !== 'guilde' && !isAshak() && !isClan();
            <div class="controls-row">
              <label for="category"
                >{{ showRare ? 'Rareté, ' : '' }}Classe et Catégorie</label
              >
              <div class="controls">
                @if (showRare) {
                  <select
                    formControlName="rare"
                    [ngClass]="{
                      'is-error':
                        newCardForm.get('rare')?.invalid &&
                        newCardForm.get('rare')?.touched,
                    }">
                    <option [ngValue]="null">Aucune</option>
                    <option value="rare">Rare</option>
                    <option value="peu commune">Peu commune</option>
                    <option value="commune">Commune</option>
                    <option value="base">Base</option>
                    <option value="schema">Schéma</option>
                    <option value="exclusive">Exclusive</option>
                  </select>
                }
                <select formControlName="class">
                  <option [ngValue]="null">Aucun</option>
                  <option value="clan">Clan</option>
                </select>
                <select
                  [ngClass]="{
                    'is-error':
                      newCardForm.get('category')?.invalid &&
                      newCardForm.get('category')?.touched,
                  }"
                  formControlName="category">
                  <option [ngValue]="null">Aucune</option>
                  @for (category of categories(); track $index) {
                    <option [value]="category">{{ category }}</option>
                  }
                </select>
                <button
                  type="button"
                  class="add-category-button"
                  (click)="showNewCategory.set(true)">
                  +
                </button>
              </div>
            </div>

            @if (isSchema()) {
              <div class="controls-row">
                <label for="image">Image Foil</label>
                <div class="controls">
                  <input
                    class="custom-file-input"
                    type="file"
                    id="image"
                    accept="image/*"
                    (change)="onImageSelected($event, 'foil')" />
                </div>
              </div>
            }

            @if (newCardForm.get('class').value === 'clan') {
              <div class="controls-row">
                <label for="clan">Clan</label>
                <div class="controls">
                  <select
                    [ngClass]="{
                      'is-error':
                        newCardForm.get('clan')?.invalid &&
                        newCardForm.get('clan')?.touched,
                    }"
                    formControlName="clan">
                    <option value="changeforme">Changeforme</option>
                  </select>
                </div>
              </div>
            }

            <div class="controls-row">
              <label for="cost">Coût et Portée</label>
              <div class="controls">
                <div class="mini-row">
                  <input
                    placeholder="Coût"
                    type="number"
                    formControlName="cost" />
                  <button
                    type="button"
                    class="delete-button"
                    (click)="newCardForm.get('cost')?.setValue(null)">
                    <img
                      src="../../../../assets/icons/delete_icon.png"
                      alt="" />
                  </button>
                </div>

                <div class="mini-row">
                  <div class="range-column">
                    <input
                      (input)="updateRangeMin($event)"
                      [value]="range()[0]"
                      type="number"
                      placeholder="Portée Min" />
                    <input
                      (input)="updateRangeMax($event)"
                      [value]="range()[1]"
                      type="number"
                      placeholder="Portée Max" />
                  </div>

                  <button
                    type="button"
                    class="delete-button"
                    (click)="range.set([])">
                    <img
                      src="../../../../assets/icons/delete_icon.png"
                      alt="" />
                  </button>
                </div>
              </div>
            </div>

            @if (newCardForm.get('type')?.value === 'attaque') {
              <div class="controls-row">
                <label for="damage">Dégâts et salves</label>
                <div class="controls">
                  <input
                    [ngClass]="{
                      'is-error':
                        newCardForm.get('damage')?.invalid &&
                        newCardForm.get('damage')?.touched,
                    }"
                    formControlName="damage"
                    type="number"
                    placeholder="Dégâts" />
                  <input
                    formControlName="salve"
                    type="number"
                    placeholder="Salve" />
                </div>
              </div>
            }
          </div>
          <div class="column-form flex-2">
            <div class="controls-row">
              <label for="effet_temporaire">Effet temporaire</label>
              <div class="controls">
                <input
                  placeholder="Nombre de tours"
                  type="number"
                  formControlName="effet_temporaire" />
              </div>
            </div>
            <div class="controls-row">
              <label for="text_fr">Texte (FR)</label>
              <div class="controls">
                <textarea formControlName="text_fr"></textarea>
              </div>
            </div>
            <div class="controls-row">
              <label for="text_fr">Texte (EN)</label>
              <div class="controls">
                <textarea formControlName="text_en"></textarea>
              </div>
            </div>
            <div class="controls-row">
              <label for="text_fr">Bonus (FR)</label>
              <div class="controls">
                <textarea formControlName="bonus_fr"></textarea>
              </div>
            </div>
            <div class="controls-row">
              <label for="bonus_en">Bonus (EN)</label>
              <div class="controls">
                <textarea formControlName="bonus_en"></textarea>
              </div>
            </div>
            @if (isClan()) {
              @for (i of deblocages(); track $index) {
                <div class="controls-row">
                  <div class="mini-row">
                    <label for="bonus_en"
                      >Condition de déblocage {{ $index + 1 }}</label
                    >
                    @if ($index === deblocages().length - 1) {
                      <button
                        type="button"
                        class="add-deblocage-button"
                        (click)="addDeblocage()">
                        +
                      </button>
                    }
                  </div>
                  <div class="controls">
                    <div class="mini-row">
                      <textarea
                        (input)="updateDeblocages($event, $index)"
                        [value]="deblocages()[$index]"></textarea>
                      <button
                        type="button"
                        class="delete-button"
                        (click)="deleteDeblocage($index)">
                        <img
                          src="../../../../assets/icons/delete_icon.png"
                          alt="" />
                      </button>
                    </div>
                  </div>
                </div>
              }
            }
            <div class="controls-row">
              <label for="explications_fr">Explications (FR)</label>
              <div class="controls">
                <textarea formControlName="explications_fr"></textarea>
              </div>
            </div>
            <div class="controls-row">
              <label for="explications_en">Explications (EN)</label>
              <div class="controls">
                <textarea formControlName="explications_en"></textarea>
              </div>
            </div>
          </div>
          <div class="controls-row">
            <label for="icones">Icônes</label>
            <div class="icones-container">
              @for (icone of ICONS; track $index) {
                <button
                  class="icone-button"
                  type="button"
                  (click)="copiedIcone.set(icone.key)">
                  @if (icone.key === copiedIcone()) {
                    <div @slideInBottomFast class="copied">
                      <img src="../../../../assets/icons/copied.png" alt="" />
                    </div>
                  }
                  <img
                    [ngClass]="{ arrow: icone.value === 'arrow' }"
                    class="icone"
                    src="assets/img/cards/interface/icones/{{
                      icone.value
                    }}_light.png"
                    alt="" />
                </button>
              }
            </div>
            <div class="controls-row">
              <div class="checkbox-row">
                <label for="isDark">Texte blanc</label>
                <input type="checkbox" formControlName="isDark" />
              </div>
            </div>
          </div>
        </div>

        <div class="button-row">
          <button class="add-card-button" type="submit">
            @if (selectedCard()) {
              Modifier la carte
            } @else {
              Ajouter la carte
            }
          </button>
          @if (selectedCard()) {
            <button
              class="add-card-button delete"
              type="button"
              (click)="deleteCard()">
              Supprimer la carte
            </button>
          }
        </div>
      </form>
    </div>
  }
  <div class="header">
    <div class="header-row">
      <div
        (click)="showDetails.set(!showDetails())"
        [ngClass]="{ cliked: showDetails() }"
        class="header-left">
        <div class="switch"></div>
      </div>
    </div>

    @if (!selectedCard()) {
      <button
        @growFromTop
        class="add-card-button"
        (click)="showAddCard.set(!showAddCard())">
        Ajouter une carte
      </button>
    }
  </div>
  <div class="cards-list">
    @for (category of categories(); track $index) {
      @if (getCardsByCategory(category).length > 0) {
        <div class="category-group">
          <h1>{{ category }}</h1>
          <div class="cards-grid">
            @for (card of getCardsByCategory(category); track $index) {
              <div
                class="card-wrapper"
                (mouseenter)="cardHovered.set(card)"
                (mouseleave)="cardHovered.set(null)">
                @if (cardHovered() === card) {
                  <div @growFromTop class="buttons-actions">
                    @if (card.accepted.length < 3) {
                      <button type="button" class="modify-button">
                        <img
                          (click)="openCard(card)"
                          src="../../../../assets/icons/edit.png"
                          alt="" />
                      </button>
                    }

                    <button
                      (click)="openDetails(card)"
                      type="button"
                      class="modify-button">
                      <img src="../../../../assets/icons/forum.png" alt="" />
                    </button>
                  </div>
                }
                <app-card
                  [class]="
                    selectedCard() && selectedCard() !== card
                      ? 'not-selected'
                      : ''
                  "
                  [card]="card"
                  [showDetails]="showDetails()"></app-card>
              </div>
            }
          </div>
        </div>
      }
    }
  </div>
</div>
