.book-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .download-button {
        width: 50px;
        outline: none;
        border: none;
        height: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        cursor: pointer;
        align-items: center;
        background: white;

        img {
            transition: 0.2s;
            width: 40%;
        }

    }

    .download-button:hover {
        img {
            margin-top: 7px;
        }
    }

    .booklet-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        padding: 100px;


        .book {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90%;
            height: 100%;
            background-color: var(--dark-1);
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

            img {
                width: 100%;
                height: 100%;
            }

            .page {
                cursor: pointer;
                transition: 0.4s;
                width: 48%;
                height: 97%;
                border: 1px solid black;
                box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
            }

            .right:hover {
                border-right: 3px solid rgb(255, 204, 0);
            }

            .left:hover {
                border-left: 3px solid rgb(255, 204, 0);
            }

        }

        .arrow {
            transition: 0.4s;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--dark-1);
            cursor: pointer;
        }

        .arrow:hover {
            border-top: 2px solid var(--dark-1);
            border-bottom: 2px solid var(--dark-1);

            h1 {
                transition: 0.4s;
                font-size: 1.8rem;
            }
        }

        .arrow:active {
            h1 {
                font-size: 1rem;
            }
        }

        .arrow-left {
            border-left: 2px solid var(--dark-1);
        }

        .arrow-right {
            border-right: 2px solid var(--dark-1);

        }
    }

}