.first-game {
  width: 100vw;
  height: 100vh;
  background-color: var(--cream);
  display: flex;
  flex-direction: column;

  .screen {
    height: 88%;
    width: 100%;
  }

  .stepper {
    height: 12%;
    width: 100%;
    border-top: var(--dark-1-tr) 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .step {
      min-width: 200px;
      border: none;
      height: 30px;
      cursor: no-drop;
      background-color: transparent;
      border: 1px solid var(--dark-1);
      opacity: 0.5;
      font-family: 'BeckmanFree';
      display: flex;
      justify-content: center;
      align-items: center;


      img {
        width: 20px;
      }

      // a reactivé une fois les autres pages faites
      // &:hover {
      //   opacity: 1;
      // }

      &.active {
        background-image: radial-gradient(
          circle,
          var(--light-1) 30%,
          var(--light-3) 100%
        );
        opacity: 1;
        color: var(--cream);
        border: none;
      }
    }
  }
}
