@import '../../../../styles/themes.scss';

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 345px;
  perspective: 1000px;

  &.detailed-card {
    perspective: 400px !important;
    .card {
      cursor: zoom-in;
      transition: 0.3s;
      transform: rotateY(30deg);
      box-shadow:
        rgba(0, 0, 0, 1) 0px 2px 4px 2px,
        rgba(0, 0, 0, 1) 0px 2px 16px 0px;
    }
  }

  &.zoomed {
    .card {
      cursor: zoom-out;
    }
  }

  .card {
    box-shadow:
      rgba(14, 30, 37, 0.9) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.7) 0px 2px 16px 0px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 220px;
    margin: 0.5rem;
    transform-style: preserve-3d;
    transform-origin: center;
    transition: 0.2s;

    &.focus {
      box-shadow:
        rgba(42, 234, 255, 0.445) 0px 0px 20px 3px,
        rgba(14, 30, 37, 0.7) 0px 2px 16px 0px;
    }

    .card-over {
      z-index: 2;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }

    .pattern-over {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      mix-blend-mode: multiply;
      opacity: 0.3;
      background-image: url('../../../../../assets/img/cards/interface/holographic_0.webp');
      background-repeat: repeat;
      background-size: 120px 120px;

      &.exclu {
        mix-blend-mode: overlay;
        background-image: url('../../../../../assets/img/cards/interface/holographic_2.webp');
      }
    }

    .holo {
      border-radius: 8px;
      z-index: 1;
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        115deg,
        rgba(0, 231, 255, 1) 0%,
        rgba(255, 0, 231, 0.3) 10%,
        rgba(0, 231, 255, 1) 20%,
        rgba(255, 0, 231, 0.3) 30%,
        rgba(0, 231, 255, 1) 40%,
        rgba(255, 0, 231, 0.3) 50%,
        rgba(0, 231, 255, 1) 60%,
        rgba(255, 0, 231, 0.3) 70%,
        rgba(0, 231, 255, 1) 80%,
        rgba(255, 0, 231, 0.3) 90%,
        rgba(0, 231, 255, 1) 100%
      );
      opacity: 0.5;
      filter: brightness(1) contrast(1);
      mix-blend-mode: color-dodge;
      // background-position: 50% 50%;
      background-size: 300% 300%;

      &.exclu {
        mix-blend-mode: color-dodge;
        background-image: linear-gradient(
          200,
          rgba(0, 231, 255, 1) 0%,
          rgb(255, 133, 243),
          rgb(255, 255, 255) 20%,
          rgb(128, 255, 230) 30%,
          rgba(0, 231, 255, 1) 40%,
          rgb(255, 90, 239) 50%,
          rgb(255, 255, 255) 60%,
          rgba(255, 0, 231, 1) 70%,
          rgba(0, 231, 255, 1) 80%,
          rgb(255, 0, 247) 90%,
          rgba(0, 231, 255, 1) 100%
        );
      }
    }

    .glare {
      position: absolute;
      transition: 0.2s;
      z-index: 4;
      width: 100%;
      height: 100%;
      filter: brightness(0.9) contrast(1.5);
      mix-blend-mode: overlay;
      overflow: hidden;
      border-radius: 8px;
      transform-style: preserve-3d;
    }

    .element-image {
      position: absolute;
      width: 100%;
      z-index: 2;
      border-radius: 10px;
    }

    .card-image {
      border-radius: 8px;
      width: 100%;
      height: 100%;
    }

    .loading-container {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 20;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: progress;

      .loading-image {
        position: absolute;
        width: 100%;
        box-shadow:
          rgba(14, 30, 37, 0.9) 0px 2px 4px 0px,
          rgba(14, 30, 37, 0.7) 0px 2px 16px 0px;
        border-radius: 10px;
      }
    }

    .card-range-cost {
      position: absolute;
      z-index: 3;
      width: 100%;
      margin-top: 22px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .cost-container {
        margin-left: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28px;
      }

      .range-container {
        margin-right: 11px;
        width: 31px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 60%;
        }
      }

      h1 {
        font-size: 15px;
      }
    }

    .damage {
      margin-top: 184px;
      position: absolute;
      z-index: 3;
      h1 {
        font-size: 28px;
        font-family: 'roadrage';
      }
    }

    .salve {
      position: absolute;
      margin-top: 181px;
      margin-left: 62px;
      z-index: 4;
      h1 {
        font-size: 18px;
      }
    }

    .card-description {
      z-index: 3;
      width: 200px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      position: absolute;
      align-items: center;
      margin-top: 228px;

      h1 {
        font-size: 16px;
      }

      .description-wrapper {
        height: 60px;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 6px;
        flex-direction: column;

        &.is-mentale {
          .description {
            height: 50%;
          }
        }

        &.is-clan {
          width: 100%;

          .description {
            height: 50%;
            order: 2;
          }
        }

        .description {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;

          &.is-ultime {
            justify-content: flex-start;
            margin-left: 50px;
          }

          .icon {
            height: 12px;
            width: auto;
            margin-right: 2px;
          }
          .arrow {
            height: fit-content;
            width: 12px;
          }
          p {
            font-family: 'beckmanfree';
            font-size: 11px;
          }
          .plus {
            font-size: 16px;
          }
        }
      }
      .mentale-bonus {
        height: 30px;
        width: 90%;
        margin-left: 20%;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          font-family: 'beckmanfree';
          font-size: 11px;

          &.plus {
            font-size: 16px;
          }
        }

        .icon {
          height: 15px;
          width: auto;
          margin-right: 2px;
        }
      }
    }
  }
}

.lds-ring {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.card-owner {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  z-index: 1000;
  background-color: var(--dark-1);
  color: var(--cream);
  padding: 0.5rem;
  border-radius: 5px;
  font-family: 'Maven pro';
  font-size: 0.8rem;
}

.deblocages {
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  order: 1;

  .clan-deblocage {
    height: 30px;
    margin-left: 15%;
    width: 85%;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;

    .icone-deblocage {
      height: 10px;
      width: auto;
      margin-right: 2px;
    }

    p {
      font-family: 'Maven pro';
      font-size: 11px;

      &.plus {
        font-size: 16px;
      }
    }

    .icon {
      height: 11px;
      width: auto;
      margin-right: 2px;
    }
  }
}

