<div class="landing {{ ashak }}" id="landing">
  <!-- DESKTOP -->
  @if (!isMobile) {
    <div class="left-side-bar"></div>
    <div class="left-bottom-corner"></div>
    <div class="behind">
      <img src="{{ img_path }}logos/rivals-logo-filled-orange.png" alt="" />
    </div>
    <div @slideInLeftFastAndSlow class="left-panel">
      <div verticalParallax [factorY]="2" class="title-container">
        <div verticalParallax [factorY]="1" class="rivals">
          <img src="{{ img_logo_rivals }}" alt="" />
        </div>
        <div class="text-container">
          <div class="left">
            <div class="half">
              <div class="left-part">
                <div class="line"></div>
              </div>
              <div class="right-part"></div>
            </div>
            <div class="half">
              <div class="left-part">
                <div class="line"></div>
              </div>
              <div class="right-part"></div>
            </div>
          </div>
          <div class="right">
            <div class="title">
              <h1>
                Deckbuilding <br />
                Battle Royale
              </h1>
            </div>
            <div class="description">
              <p>{{ 'home.intro.desktop' | translate }}</p>
            </div>
          </div>
        </div>
        <div class="socials-container">
          @for (social of socialNetworks; track social) {
            <a
              class="social-link"
              [attr.aria-label]="social.name"
              href="{{ social.url }}"
              target="_blank"
              ><img src="{{ img_path }}logos/{{ social.name }}-dark.png" alt=""
            /></a>
          }
        </div>
        <div class="cta">
          <!-- <a href="https://buy.stripe.com/8wM28f9zI8rBg0g003" target="_blank" class="button">
            <h3>{{ 'home.intro.acheter' | translate }}</h3>
            <div class="acheter-button">
              <img src="../../../../assets/img/logos/panier-light.png" alt="" />
            </div>
          </a> -->
          <app-button-shop [imageSrc]="'/assets/icons/shopping-cart.png'">{{ 'home.intro.acheter' | translate }}</app-button-shop>
        </div>
      </div>
      <img
        class="trigone"
        src="{{ img_path }}trigones_{{ ashak }}.png"
        alt="" />
    </div>
    <div class="ashaks">
      <div class="moon"></div>
      <img
        horizontalParallax
        [factorX]="-2"
        class="bird-1"
        src="../../../../assets/img/landing/phae_bird2.png"
        alt="" />
      <img
        class="bird-2"
        src="../../../../assets/img/landing/phae_bird1.png"
        alt="" />
      <img src="../../../../assets/img/landing/.webp" alt="" />
      <img src="../../../../assets/img/landing/phae.webp" alt="" />
      <img
        verticalParallax
        [factorY]="1"
        src="../../../../assets/img/landing/atmos.webp"
        alt="" />
      <img
        horizontalParallax
        [factorX]="-1"
        src="../../../../assets/img/landing/renko.webp"
        alt="" />
      <img
        verticalParallax
        [factorY]="1"
        src="../../../../assets/img/landing/qikaa.webp"
        alt="" />

      <img
        verticalParallax
        [factorY]="-1"
        src="../../../../assets/img/landing/xhan.webp"
        alt="" />
      <img
        horizontalParallax
        [factorX]="2"
        src="../../../../assets/img/landing/yosh.webp"
        alt="" />
      <img
        class="gyaleis"
        src="../../../../assets/img/landing/gyaleis.webp"
        alt="" />
    </div>
    <div @slideInRightFastAndSlow class="right-panel"></div>
    <!-- <img
      verticalParallax
      [factorY]="2"
      class="ashak-gif"
      id="ashak-gif"
      (click)="test()"
      src="{{ img_path }}gif_{{ ashak }}.webp"
      alt="" /> -->
    <!-- <img class="qikaa-landing" src="{{ img_qikaa_screaming }}" alt="" /> -->

    <!-- <img
      verticalParallax
      [factorY]="-2"
      class="sun"
      src="{{ img_path }}sun.png"
      alt="" /> -->
  } @else {
    <!-- MOBILE -->
    <div class="background"></div>
    <video @fadeInOut autoplay loop muted playsinline>
      <source
        src="../../../../assets/videos/trailer_mobile.mp4"
        type="video/mp4" />
    </video>

    <div class="left-bottom-corner"></div>

    <div verticalParallax [factorY]="2" class="title-container">
      <div verticalParallax [factorY]="1" class="rivals">
        <img src="{{ img_logo_rivals }}" alt="" />
        <div class="subtitle">
          <h1>{{ 'home.subtitle' | translate | uppercase }}</h1>
        </div>
      </div>
      <div class="description">
        <p>{{ 'home.intro.mobile' | translate }}</p>
      </div>
      <div class="button-container">
        
        <app-button (click)="goToStripe()" [name]="'navbar.order'"></app-button>
      </div>
    </div>
  }
</div>
