<div class="landing {{ ashak }}" id="landing">
  <!-- DESKTOP -->
  <ng-container *ngIf="!isMobile">
    <div class="left-side-bar"></div>
    <div class="left-bottom-corner"></div>
    <div class="behind">
      <ng-container *ngIf="showEasterEgg">
        <img
          class="mantaship"
          src="../../../../assets/img/backgrounds/qikaa-mantaship.jpg"
          alt=""
        />
        <div class="manta-texte">
          <h1>
            Jour 1. / Navigation autonome. / Direction - Kuna. / E.T.A - 7
            jours.
          </h1>
        </div>
      </ng-container>
      <img
        *ngIf="!showEasterEgg"
        src="../../../../assets/img/logos/rivals-logo-filled-orange.png"
        alt=""
      />
    </div>
    <div @slideInLeftFastAndSlow class="left-panel" *ngIf="!showEasterEgg">
      <div verticalParallax [factorY]="2" class="title-container">
        <div verticalParallax [factorY]="1" class="rivals">
          <img
            src="../../../../assets/img/rivals_logo_{{ ashak }}.png"
            alt=""
          />
        </div>
        <div class="text-container">
          <div class="left">
            <div class="half">
              <div class="left-part">
                <div class="line"></div>
              </div>
              <div class="right-part"></div>
            </div>
            <div class="half">
              <div class="left-part">
                <div class="line"></div>
              </div>
              <div class="right-part"></div>
            </div>
          </div>
          <div class="right">
            <div class="title">
              <h1>
                Deckbuilding <br />
                Battle Royale
              </h1>
            </div>
            <div class="description">
              <p>{{ "home.intro.desktop" | translate }}</p>
            </div>
          </div>
        </div>
        <a
          href="{{ socialNetworks[0].link }}"
          target="_blank"
          class="kickstarter-container"
        >
          <div class="left">
            <h1><small>Le</small> 12 sept. 2023</h1>
            <h1 class="ks-title"><small>sur</small> Kickstarter</h1>
          </div>
          <div class="divider"></div>
          <div class="right">
            <div class="ks-logo-container">
              <div class="outer">
                <div class="inner">
                  <img src="../../../../assets/img/logos/ks-logo.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <img
        class="trigone"
        src="../../../../assets/img/trigones_{{ ashak }}.png"
        alt=""
      />
    </div>
    <div
      @slideInRightFastAndSlow
      class="right-panel"
      *ngIf="!showEasterEgg"
    ></div>
    <ng-container *ngIf="!showEasterEgg">
      <!-- <app-gamebox class="gamebox"></app-gamebox> -->
      <img
        verticalParallax
        [factorY]="2"
        class="ashak-gif"
        src="../../../../assets/img/gif_{{ ashak }}.gif"
        alt=""
      />
      <img class="qikaa-landing" src="../../../../assets/img/qikaa-landing.png" alt="">
      <img
        verticalParallax
        [factorY]="-2"
        class="sun"
        src="../../../../assets/img/sun.png"
        alt=""
      />
    </ng-container>
  </ng-container>

  <!-- MOBILE -->
  <ng-container *ngIf="isMobile">
    <div class="background-mobile">
      <img
        class="qikaa-mobile"
        src="../../../../assets/img/backgrounds/qikaa-mobile.png"
        alt=""
      />
      <img
        class="background-img"
        src="../../../../assets/img/backgrounds/mobile_landing.jpg"
        alt=""
      />
    </div>

    <div class="left-bottom-corner"></div>

    <div verticalParallax [factorY]="2" class="title-container">
      <div verticalParallax [factorY]="1" class="rivals">
        <img src="../../../../assets/img/rivals_logo_{{ ashak }}.png" alt="" />
        <div class="subtitle">
          <h1>{{ "home.subtitle" | translate | uppercase }}</h1>
        </div>
        <div class="description">
          <p>{{ "home.intro.mobile" | translate }}</p>
        </div>
      </div>
    </div>
  </ng-container>
</div>
