<div class="nav-bar-container {{ ashak }}">
  @if (isMobile) {
    <a (click)="openSidePanel()" class="burger-menu">
      <img src="../../assets/img/logos/panier-gradient.png" alt="" />
    </a>
  }
  @if (!isMobile) {
    <div (click)="openSidePanel()" class="logo-container">
      <img class="logo-unkind" src="../../assets/img/logos/unk.png" alt="" />
    </div>
  } @else {
    <a [routerLink]="['/rivals']" class="menu-container">
      <img src="../../assets/img/rivals_logo_qikaa.webp" alt="" />
    </a>
  }
  @if (!isMobile) {
    <div class="menu-container">
      <a
        [routerLink]="['/rivals']"
        routerLinkActive="router-link-active"
        class="title-container">
        <img src="../../assets/img/logos/rivals_small_logo_qikaa.png" alt="" />
      </a>
      <nav class="link-container">
        @for (link of links; track $index) {
          <a
            (click)="onClickLink(link)"
            [routerLink]="[link.link]"
            class="link-button">
            @if (!link.notUrl) {
              <h1 class="linky-h1">
                {{ 'navbar.' + link.name | translate }}
              </h1>
            } @else {
              <!-- <a (click)="goToSection(link.link)">{{
          'navbar.' + link.name | translate
        }}</a> -->
            }
          </a>
        }
      </nav>
    </div>
  }

  <nav class="right-container">
    <div class="last-container">
      @if (!isMobile) {
        <a
          href="https://buy.stripe.com/8wM28f9zI8rBg0g003"
          target="_blank"
          class="panier">
          <img src="../../assets/icons/shopping-cart.png" alt="" />
        </a>
      }
      <app-language-switch [theme]="ashak"></app-language-switch>
    </div>
  </nav>
</div>
