<div class="nav-bar-container {{ ashak }}">
  @if (isMobile) {
    <a (click)="openSidePanel()" class="burger-menu">
      <img src="../../assets/icons/shopping-cart_gradient.png" alt="" />
    </a>
  }
  @if (!isMobile) {
    <div (click)="openSidePanel()" class="logo-container">
      <img class="logo-unkind" src="../../assets/img/logos/unk.png" alt="" />
    </div>
  } @else {
    <a [routerLink]="['/rivals']" class="menu-container">
      <img src="../../assets/img/rivals_logo_qikaa.webp" alt="" />
    </a>
  }
  @if (!isMobile) {
    <div class="menu-container">
      <a
        [routerLink]="['/rivals']"
        routerLinkActive="router-link-active"
        class="title-container">
        <img src="../../assets/img/logos/rivals_small_logo_qikaa.png" alt="" />
      </a>
      <nav class="link-container">
        @for (link of links; track $index) {
          <a
            (click)="onClickLink(link)"
            [routerLink]="[link.link]"
            class="link-button">
            @if (!link.notUrl) {
              <h1 class="linky-h1">
                {{ 'navbar.' + link.name | translate }}
              </h1>
            } @else {
              <!-- <a (click)="goToSection(link.link)">{{
          'navbar.' + link.name | translate
        }}</a> -->
            }
          </a>
        }
      </nav>
    </div>
  }

  <nav class="right-container">
    @if (isAuthenticated()) {
      <div class="user-container">
        <h1>{{ user().nom.split(' ')[0] }}</h1>
        <button
          (click)="showMenu.set(!showMenu())"
          class="user-button"
          type="button">
          <img [src]="user().photo" alt="" />
          @if (latestNotifications()?.length) {
            <div class="notification-badge">
              {{ latestNotifications()?.length }}
            </div>
          }
          @if (showMenu()) {
            <div [@growFromTop]="showMenu()" class="menu-auth">
              <div class="menu-items">
                <a class="menu" [routerLink]="'/admin'">Menu</a>
                <a (click)="logout()" class="menu">Se déconnecter</a>
                @if (latestNotifications()) {
                  @for (notification of latestNotifications(); track $index) {
                    <div class="line"></div>
                    <a
                      class="notification"
                      (click)="goToNotification(notification)">
                      {{ notification.message }}
                    </a>
                  }
                }
              </div>
            </div>
          }
        </button>
      </div>
    } @else {
      <a class="maj-link" [routerLink]="'/admin'">
        <img src="../../assets/icons/shh_emoji.png" alt="" />
      </a>
    }
    <div class="last-container">
      @if (!isMobile) {
        <a
          href="https://buy.stripe.com/8wM28f9zI8rBg0g003"
          target="_blank"
          class="panier">
          <img src="../../assets/icons/shopping-cart.png" alt="" />
        </a>
      }
      <app-language-switch [theme]="ashak"></app-language-switch>
    </div>
  </nav>
</div>
