<div #cardsContainer class="cards-container {{ ashak }}">
  <ng-container *ngIf="!isMobile">
    <div
      class="faire-defiler"
      @fadeInOutFast
      *ngIf="
        (scroll$ | async) > 2.25 * windowSize.height &&
        (scroll$ | async) < 4 * windowSize.height &&
        !cardsAnimationDone
      "
    >
      <h1>{{ "home.gameplay.scroll" | translate }}</h1>
      <div class="line-container">
        <div class="line"></div>
      </div>
    </div>
    <div
      @fadeInOutFast
      class="goUp"
      (click)="scrollToTop()"
      *ngIf="
        cardsAnimationDone &&
        (scroll$ | async) > 5 * windowSize.height &&
        (scroll$ | async) <= 7 * windowSize.height
      "
    >
      <div class="button">
        <h1>{{ "home.gameplay.scroll.top" | translate }}</h1>
      </div>
      <div class="line-container">
        <div class="line"></div>
      </div>
    </div>
    <div class="left-line"></div>
    <div
      width
      [factor]="3.2"
      [originalWidth]="-310"
      [maxWidth]="100"
      [ngClass]="{
        'stick-top':
          (scroll$ | async) > 2.2 * windowSize.height &&
          (scroll$ | async) < 8 * windowSize.height
      }"
      class="perpendicular"
    ></div>
    <h1
      horizontalParallax
      [factorX]="3.2"
      [maxHorizon]="420"
      [ngClass]="{
        'set-left': (scroll$ | async) > 0.7 * windowSize.height,
        'stick-top':
          (scroll$ | async) > 2.2 * windowSize.height &&
          (scroll$ | async) < 8 * windowSize.height
      }"
      [ngStyle]="{ opacity: opacity }"
      class="gameplay-title"
    >
      GAMEPLAY
    </h1>
    <img
      [ngClass]="{
        'set-left': (scroll$ | async) > 0.7 * windowSize.height,
        'stick-top':
          (scroll$ | async) > 2.2 * windowSize.height &&
          (scroll$ | async) < 8 * windowSize.height
      }"
      horizontalParallax
      [factorX]="3.2"
      [maxHorizon]="500"
      class="rivals-mini-logo"
      src="../../../../assets/img/rivals-logo-contour.png"
      alt=""
    />
    <div
      *ngIf="((scroll$ | async) > 1.3 * windowSize.height)"
      class="gameplay-container"
      [ngClass]="{
        'gameplay-show':
          (scroll$ | async) > 2.25 * windowSize.height &&
          (scroll$ | async) < 6.93 * windowSize.height,
        release: (scroll$ | async) >= 6.93 * windowSize.height,
        opacity: (scroll$ | async) > 7.5 * windowSize.height
      }"
    >
      <div class="circle-container" (click)="scrollToEnd()" >
        <img
          class="circle circle-logos-inner"
          src="../../../../assets/img/logos_circle.png"
          alt=""
        />
        <img
          [@rotate]="rotateState"
          class="circle-logos blinking"
          src="../../../../assets/img/logos_circle_logos.png"
          alt=""
        />
        <img
          @slideInLeft
          [ngClass]="{ reduce: (scroll$ | async) > 2.3 * windowSize.height }"
          *ngIf="(scroll$ | async) > 2.14 * windowSize.height"
          class="logo-left"
          src="../../../../assets/img/rivals_logo_gameplay_left.png"
          alt=""
        />
        <img
          @slideInRight
          [ngClass]="{ reduce: (scroll$ | async) > 2.3 * windowSize.height }"
          *ngIf="(scroll$ | async) > 2.14 * windowSize.height"
          class="logo-right"
          src="../../../../assets/img/rivals_logo_gameplay_right.png"
          alt=""
        />
        <div
          (click)="(rotateState)"
          *ngIf="(scroll$ | async) > 2.3 * windowSize.height"
          @fadeInOut
          class="card"
        >
          <img
            @fadeInOut
            *ngIf="(scroll$ | async) > 2.38 * windowSize.height"
            src="../../../../assets/img/dos_CARTES.png"
            alt=""
          />
        </div>
      </div>

      <ng-container *ngFor="let card of cards; let i = index">
        <div
          @fadeInOut
          *ngIf="(scroll$ | async) > card.ngIf"
          horizontalParallax
          [factorX]="-3"
          class="card-2 {{card.right}}"
        >
          <div
            class="inner-card-container"
            [ngClass]="{ 'rotate-y-card': (scroll$ | async) > card.flip }"
          >
            <div class="front">
              <img
                src="../../../../assets/img/cards/{{ card.url }}.png"
                alt=""
              />
              <div class="title">
                <h2 [ngStyle]="{ color: card.color }">
                  {{ card.name | translate }}
                </h2>
              </div>
              <div [ngClass]="{ ajustement: i === 0 }" class="descriptif">
                <h2 [ngStyle]="{ color: card.color }">
                  {{ card.descriptif | translate }}
                </h2>
                <h2 [ngStyle]="{ color: card.color }">
                  {{ card.descriptif2 | translate }}
                </h2>
              </div>
            </div>
            <div class="back">
              <img src="../../../../assets/img/dos_CARTES_2.png" alt="" />
            </div>
          </div>
        </div>
      </ng-container>
      <div class="text-container">
        <h1 @slideInLeft *ngIf="(scroll$ | async) > 1.7 * windowSize.height">
          Deckbuilding
        </h1>
        <p @slideInLeft *ngIf="(scroll$ | async) > 2 * windowSize.height">
          {{
            (scroll$ | async) > 6.5 * windowSize.height
              ? ("home.gameplay.battleroyale.description" | translate)
              : ("home.gameplay.deckbuilding.description" | translate)
          }}
        </p>
      </div>
      <div @fadeInOut *ngIf="(scroll$ | async) < 2.3 * windowSize.height" class="bigcard-container">
        <img
          class="bigcard expert"
          src="../../../../assets/img/cards/COMP_ExpertBalistique.png"
          alt=""
        />
        <img class="bigcard divination" src="../../../../assets/img/cards/SCHEMA_Divination.png" alt="" />
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="isMobile">
    <div height [originalHeight]="-60" [factor]="1" class="right-line"></div>
    <div verticalParallax [factorY]="1" class="gameplay-title-container">
      <h1 class="gameplay-title-mobile">GAMEPLAY</h1>
    </div>
    <div class="right-line-2"></div>
    <div class="circle-container">
      <img
        class="circle circle-logos-inner"
        src="../../../../assets/img/logos_circle.png"
        alt=""
      />
      <img
        [@rotate]="rotateState"
        class="circle-logos blinking"
        src="../../../../assets/img/logos_circle_logos.png"
        alt=""
      />
    </div>
    <div class="text-container">
      <h1 @slideInLeft *ngIf="(scroll$ | async) > 1.4 * windowSize.height">
        Deckbuilding
      </h1>
      <p @slideInLeft *ngIf="(scroll$ | async) > 1.5 * windowSize.height">
        {{
          (scroll$ | async) > 6.5 * windowSize.height
            ? ("home.gameplay.battleroyale.description" | translate)
            : ("home.gameplay.deckbuilding.description" | translate)
        }}
      </p>
    </div>
    <div class="flipping-cards-container">
      <ng-container *ngFor="let card of cards">
        <div class="card-mobile">
          <div
            class="inner-card-container"
            [ngClass]="{ 'rotate-y-card': (scroll$ | async) > card.flip }"
          >
            <div class="front">
              <img
                src="../../../../assets/img/cards/{{ card.url }}.png"
                alt=""
              />
            </div>
            <div class="back">
              <img src="../../../../assets/img/dos_CARTES_2.png" alt="" />
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="button-container">
      <p>
        Rendez votre ashak de plus en plus compétitif, en lui construisant le
        meilleur deck possible.
      </p>
      <app-button [name]="'Les cartes'"></app-button>
    </div>
  </ng-container>
</div>
