@import '../../../styles/themes.scss';
@import '../../../styles/utils.scss';

.cards-container {
    background-color: var(--dark-1);
    width: 100%;
    height: 500vh;
    overflow: hidden;

    .faire-defiler {
        position: fixed;
        bottom: 0;
        width: 10%;
        left: 45%;
        height: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        h1 {
            font-size: 0.85rem;
            color: var(--light-2);
            letter-spacing: 3px;
            animation: blinkingSlow 1.5s ease-in-out infinite;
        }

        .line-container {
            height: 70%;
            width: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;

            .line {
                width: 1px;
                height: 40px;
                background-color: var(--light-2);
                opacity: 0.5;
                animation: shrinkAndGrow 1.5s ease-in-out infinite;
            }
        }
    }

    .goUp {
        position: fixed;
        z-index: 10;
        bottom: 0;
        width: 20%;
        left: 40%;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 1rem;
        align-items: center;

        .button {
            padding: 10px;
            border: 1px solid var(--light-2);
            display: flex;
            text-align: center;
            cursor: pointer;

            h1 {
                font-size: 0.9rem;
                color: var(--light-2);
                letter-spacing: 3px;
                animation: blinkingSlow 2s ease-in-out infinite;

            }
        }

        .button:hover {
            border: 1px solid $cream;

            h1 {
                color: $cream;
                animation: none;
            }
        }

        .line-container {
            height: 70%;
            width: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;

            .line {
                width: 1px;
                height: 40px;
                background-color: var(--light-2);
                opacity: 0.5;
                animation: shrinkAndGrow 2s ease-in-out infinite;
            }
        }
    }

    @media only screen and (max-width: 650px) {
        height: 100vh;

        .right-line {
            position: absolute;
            right: 25px;
            height: -60px;
            background-color: var(--light-2);
            width: 1px;
            margin-top: -9.4vh;
            z-index: 5;
        }

        .gameplay-title-mobile {
            position: absolute;
            font-size: 0.8rem;
            right: -5px;
            margin-top: -80px;
            color: var(--light-2);
            transform: rotate(-90deg);
        }

        .right-line-2 {
            position: absolute;
            left: 25px;
            height: 90vh;
            background-color: var(--light-2);
            margin-top: 20vh;
            width: 1px;
            z-index: 5;
            opacity: 0.3;
        }

        .flipping-cards-container {
            margin-top: -10vh;
            display: flex;
            overflow: hidden;
            gap: 0.1rem;
            justify-content: center;

            .card-mobile {
                perspective: 1000px;
                z-index: 5;
                display: flex;
                margin-top: 38vh;
                height: 25vh;
                width: 16.9vh;
                border-radius: 10px;

                .inner-card-container {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    transition: transform 0.8s;
                    transform-style: preserve-3d;
                    box-shadow: rgba(0, 0, 0, 0.22) 0px 2px 4px 0px, rgba(0, 0, 0, 0.42) 0px 2px 16px 0px;
                    border-radius: 10px;

                    .back {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                        background-color: var(--dark-1);
                        backface-visibility: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .front {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        backface-visibility: hidden;
                        transform: rotateY(180deg);

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }

        .button-container {
            margin-top: 10vh;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            color: $white;
            padding: 30px;
        }
    }

    .left-line {
        position: absolute;
        margin-top: -29px;
        z-index: 4;
        width: 1px;
        height: 400%;
        background-color: var(--light-1);
        left: 50px;
        opacity: 0.3;
    }

    .perpendicular {
        position: absolute;
        margin-top: 6px;
        left: 50px;
        width: 10px;
        height: 1px;
        background-color: var(--light-1);
        opacity: 0.3;
    }

    .gameplay-title {
        position: absolute;
        color: var(--light-2);
        font-size: 1rem;
        opacity: 0;
    }

    .rivals-mini-logo {
        position: absolute;
        left: 10px;
        margin-top: -3px;
        width: 20px;
        height: 20px;
        z-index: 7;
    }

    .gameplay-container {
        position: absolute;
        width: 100%;
        height: 90vh;
    }

}

/**
*/

.set-left {
    margin-left: -250px;
}

.stick-top {
    position: fixed !important;
    top: 100px !important;
    z-index: 5;
}

.stop-fixed {
    transition: 0.4s;
    opacity: 0 !important;
}

.gameplay-show {
    position: fixed !important;
    top: 7.4vh;
}

.release {
    position: absolute;
    top: 621vh;
}

.circle-container {
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 2%;
    z-index: 4;

    @media only screen and (max-width: 650px) {
    margin-top: -10vh;

        width: 100%;
        right: 0;
        overflow: hidden;
    }
}

.circle-logos {
    position: absolute;
    height: 100%;

    @media only screen and (max-width: 650px) {
        width: 100%;
        height: auto;
    }
}

.circle-logos-inner {
    height: 100%;

    @media only screen and (max-width: 650px) {
        width: 100%;
        height: auto;
    }
}

.blinking {
    animation: opacityGlow 3s ease-in-out infinite;
    transition: 0.8s;
}

.logo-left {
    position: absolute;
    height: 40%;
    top: 30%;
    z-index: 6;
    transition: 0.2s;
}

.logo-right {
    position: absolute;
    height: 40%;
    top: 30%;
    z-index: 6;
    transition: 0.2s;
}

.card {
    position: absolute;
    z-index: 3;
    display: flex;
    height: 36vh;
    width: 24.3vh;
    background-color: var(--dark-1);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.22) 0px 2px 4px 0px, rgba(0, 0, 0, 0.42) 0px 2px 16px 0px;

    img {
        width: 100%;
        height: 100%;
    }
}

.card-2 {
    position: absolute;
    perspective: 1000px;
    z-index: 5;
    display: flex;
    top: 27vh;
    height: 36vh;
    width: 24.3vh;
    border-radius: 10px;

    .inner-card-container {

        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        box-shadow: rgba(0, 0, 0, 0.22) 0px 2px 4px 0px, rgba(0, 0, 0, 0.42) 0px 2px 16px 0px;
        border-radius: 10px;

        .back {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            background-color: var(--dark-1);
            backface-visibility: hidden;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .front {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            transform: rotateY(180deg);

            .title {
                position: absolute;
                top: 24.7vh;
                width: 100%;
                text-align: center;
                h2 {
                    font-size: 1.1rem;
                    letter-spacing: 0.05rem;
                }
            }

            .descriptif {
                position: absolute;
                top: 30vh;
                width: 80%;
                left: 10%;
                text-align: center;
                h2 {
                    font-size: 0.9rem;
                }
                
            }
            .ajustement {
                top: 29.5vh;
                h2 {
                    margin-bottom: 0.5vh;
                    padding-left: 10%;
                }
            }

            img {
                width: 100%;
                height: 100%;
            }
        }

    }

}

.rotate-y-card {
    transform: rotateY(180deg);
}

.circle {
    -webkit-animation: rotating 4s linear infinite;
    -moz-animation: rotating 4s linear infinite;
    -ms-animation: rotating 4s linear infinite;
    -o-animation: rotating 4s linear infinite;
    animation: rotating 4s linear infinite;
}

.text-container {
    position: absolute;
    width: 40vw;
    height: 90%;
    left: 50px;
    margin-top: 40px;
    padding: 1rem;

    .text {
        margin-top: 10vh;
        margin-left: 2vw;
        p {
            color: $cream;
        }
    }

    h1 {
        font-size: 5rem;
        color: $cream;
    }

    p {
        color: var(--light-1);
    }

    @media only screen and (max-width: 650px) {
        width: 90%;
        height: auto;
        left: 0;
        margin-top: 4vh;

        h1 {
            font-size: 2.5rem;
        }

        p {
            margin: 0;
            font-size: 0.8rem;
        }
    }
}

.reduce {
    transition: 0.4s;
    transform: scale(0.5);
}

.single-rotation {
    transform: rotate(45deg);
    transition: 0.8s;
}

.opacity {
    transition: 0.2s;
    opacity: 0 !important;
}