<div class="wildtech-container {{ ashak$ | async }}">
  <div class="cache"></div>
  <div @slideInLeft *ngIf="textShow" class="title-container">
    <div class="top">
      <div (click)="goBack()" class="back-button">
        <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48">
          <path d="M24 40 8 24 24 8l2.1 2.1-12.4 12.4H40v3H13.7l12.4 12.4Z" />
        </svg>
        <h1>{{ "gameplay.wildtech.back.to.board" | translate }}</h1>
      </div>
      <h1 class="title">
        <small>{{ "all.the" | translate }}</small
        >WildTech
      </h1>
    </div>
    <ng-container *ngIf="step > 0 && step < 5">
      <div class="tutorial-steps">
        <div class="stepper">
          <div @growFromTop class="step-line-container">
            <div class="step-line"></div>
          </div>
          <div class="step">
            <div @fadeInOutFast class="logo-container">
              <div @fadeInOutFast *ngIf="step === 1" class="inner">
                <div class="logo-inner-container">
                  <img
                    class="logo"
                    src="../../../../assets/icons/explore-logo-2.png"
                    alt=""
                  />
                </div>
              </div>
              <div
                @fadeInOutFast
                *ngIf="step > 1 && nextStep > 1"
                class="inner-done"
              >
                <img src="../../../../assets/icons/check-icon.png" alt="" />
              </div>
            </div>
            <p *ngIf="step === 1" @fadeInOutFast>
              {{
                "gameplay.wildtech.tuto.exploration.explore.tile" | translate
              }}
            </p>
            <h1 *ngIf="step > 1 && this.nextStep > 1" @fadeInOutFast>
              {{ "gameplay.wildtech.tuto.exploration.exploration" | translate }}
            </h1>
          </div>
          <ng-container *ngIf="step > 1">
            <div @growFromTop class="step-line-container">
              <div class="step-line"></div>
              <p @fadeInOut *ngIf="nextStep > 1">
                {{
                  "gameplay.wildtech.tuto.exploration.description" | translate
                }}
              </p>
            </div>
            <div class="step">
              <div @fadeInOutFast class="logo-container">
                <div @fadeInOutFast *ngIf="step === 2" class="inner">
                  <div class="logo-inner-container">
                    <img
                      class="logo"
                      src="../../../../assets/icons/move-logo.png"
                      alt=""
                    />
                  </div>
                </div>
                <div
                  @fadeInOutFast
                  *ngIf="step > 2 && nextStep > 2"
                  class="inner-done"
                >
                  <img src="../../../../assets/icons/check-icon.png" alt="" />
                </div>
              </div>
              <p @fadeInOutFast *ngIf="step === 2">
                {{ "gameplay.wildtech.tuto.move.action" | translate }}
              </p>
              <h1 *ngIf="step > 2 && nextStep > 2" @fadeInOutFast>
                {{ "gameplay.wildtech.tuto.move.move" | translate }}
              </h1>
            </div>
          </ng-container>
          <ng-container *ngIf="step > 2">
            <div @growFromTop class="step-line-container">
              <div class="step-line"></div>
              <p @fadeInOut *ngIf="nextStep > 2">
                {{ "gameplay.wildtech.tuto.move.description" | translate }}
              </p>
            </div>
            <div class="step">
              <div @fadeInOutFast class="logo-container">
                <div @fadeInOutFast *ngIf="step === 3" class="inner">
                  <div class="logo-inner-container">
                    <img
                      class="logo"
                      src="../../../../assets/icons/recolte-logo.png"
                      alt=""
                    />
                  </div>
                </div>
                <div
                  @fadeInOutFast
                  *ngIf="step > 3 && nextStep > 3"
                  class="inner-done"
                >
                  <img src="../../../../assets/icons/check-icon.png" alt="" />
                </div>
              </div>
              <p @fadeInOutFast *ngIf="step === 3">
                {{ "gameplay.wildtech.tuto.harvest.action" | translate }}
              </p>
              <h1 @fadeInOutFast *ngIf="step > 3 && nextStep > 3">
                {{ "gameplay.wildtech.tuto.harvest.description" | translate }}
              </h1>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="step === 5">
      <div @slideInLeft class="bottom">
        <p>
          <strong>{{
            "gameplay.wildtech.description1.part1" | translate
          }}</strong>
          {{ "gameplay.wildtech.description1.part2" | translate }}
        </p>
      </div>
      <div @slideInRight class="bottom-2">
        <p>
          {{ "gameplay.wildtech.description2.part1" | translate
          }}<strong>Battle Royale</strong>
          {{ "gameplay.wildtech.description2.part3" | translate }}
        </p>
      </div>
      <div @slideInLeft class="bottom-2">
        <p>
          {{ "gameplay.wildtech.description3.part1" | translate
          }}<strong>{{
            "gameplay.wildtech.description3.part2" | translate
          }}</strong
          >{{ "gameplay.wildtech.description3.part3" | translate }}
        </p>
      </div>
    </ng-container>
  </div>
  <div
    freeDragging
    class="token-container"
    [ngClass]="{ opacityLow: step === 1 }"
  >
    <div @fadeInOutFast *ngIf="step === 2" class="contour"></div>
    <img
      [ngClass]="{ grabbing: step > 1 }"
      @fadeInOut
      (mousedown)="grabbingToken()"
      (mouseup)="releaseToken()"
      class="token-orus"
      src="../../../../assets/img/plateaux/token_orus.png"
      alt=""
    />
  </div>

  <ng-container *ngFor="let tile of tiles">
    <div
      (mouseenter)="step > 2 ? (tile.hover = true) : (tile.hover = false)"
      (mouseleave)="tile.hover = false"
      @fadeInOut
      *ngIf="tile.show"
      [ngClass]="{
        spinned: tile.spinned,
        line: tile.line,
        opacityLow: step === 1 && tile.id !== '3',
        pointer: step > 4 || tile.id === '3'
      }"
      (click)="tileClick(tile)"
      class="tile"
      [ngStyle]="{
        right: tile.x.toString() + 'vw',
        marginTop: tile.y.toString() + 'vw'
      }"
    >
      <div
        class="inner-tile"
        [ngClass]="{
          'flip-tile': tile.flipped && !tile.line,
          'flip-tile-x': tile.flipped && tile.line
        }"
      >
        <div class="back">
          <img
            src="../../../../assets/img/tiles/{{ tile.spinned ? 'flip' : '' }}{{
              tile.line ? 'line' : ''
            }}back_hover.png"
            alt=""
          />
          <img
            [ngClass]="{ vanish: tile.hover }"
            src="../../../../assets/img/tiles/{{ tile.spinned ? 'flip' : '' }}{{
              tile.line ? 'line' : ''
            }}back.png"
            alt=""
          />
        </div>
        <div class="front">
          <img
            @slideInTopSlow
            *ngIf="tile.dry"
            class="dry-token"
            src="../../../../assets/img/tiles/dry.png"
            alt=""
          />
          <img
            src="../../../../assets/img/tiles/front_{{ tile.id }}_hover.png"
            alt=""
          />
          <img
            [ngClass]="{ vanish: tile.hover }"
            src="../../../../assets/img/tiles/front_{{ tile.id }}.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </ng-container>
  <div
    @fadeInOut
    class="center"
    [ngClass]="{ opacityLow: step === 1 }"
    *ngIf="centerShow"
  >
    <img src="../../../../assets/img/tiles/front_center.png" alt="" />
  </div>
  <div
    @fadeInOutFast
    *ngIf="showDetails"
    class="details"
    [ngStyle]="{
      right: tileDetails.position.x.toString() + 'vw',
      marginTop: tileDetails.position.y.toString() + 'vw'
    }"
  >
    <div class="inner-details">
      <div class="resources">
        <a
          (click)="showUnitDetails('crystal')"
          target="_blank"
          *ngIf="tileDetails.resources.crystal"
          class="resource"
        >
          <img src="../../../../assets/icons/cristal-logo.png" alt="" />
          <h1>{{ "resources.crystal" | translate }}</h1>
        </a>
        <a
          routerLink="/lore/wildtech/resin"
          target="_blank"
          *ngIf="tileDetails.resources.resine"
          class="resource"
        >
          <img src="../../../../assets/icons/resine-logo.png" alt="" />
          <h1>{{ "resources.resin" | translate }}</h1>
        </a>
        <a
          routerLink="/lore/wildtech/observatory"
          target="_blank"
          *ngIf="tileDetails.resources.observatory"
          class="resource"
        >
          <img src="../../../../assets/icons/observatoire-logo.png" alt="" />
          <h1>{{ "resources.observatory" | translate }}</h1>
        </a>
        <a
          routerLink="/lore/wildtech/interface"
          target="_blank"
          *ngIf="tileDetails.resources.interface"
          class="resource"
        >
          <img src="../../../../assets/icons/interface-logo.png" alt="" />
          <h1>{{ "resources.interface" | translate }}</h1>
        </a>
        <a
          routerLink="/lore/wildtech/volcano"
          target="_blank"
          *ngIf="tileDetails.resources.volcano"
          class="resource"
        >
          <img src="../../../../assets/icons/volcan-logo.png" alt="" />
          <h1>{{ "resources.volcano" | translate }}</h1>
        </a>
        <a
          routerLink="/lore/wildtech/lake"
          target="_blank"
          *ngIf="tileDetails.resources.lake"
          class="resource"
        >
          <img src="../../../../assets/icons/lake-logo.png" alt="" />
          <h1>{{ "resources.lake" | translate }}</h1>
        </a>
      </div>
      <div class="recolte-container">
        <div (click)="recolte(tileDetails)" class="recolte">
          <div class="inner-recolte">
            <div class="inside">
              <img src="../../../../assets/icons/collect-logo.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div (click)="showDetails = false; showResources = false" class="close">
      <img src="../../../../assets/icons/close-logo.png" alt="" />
    </div>
  </div>
  <!-- <div
    @slideInTopSlow
    *ngIf="showDetails && showMoreDetails"
    class="details-more"
    [ngStyle]="{
      right: tileDetails.position.x.toString() + 'vw',
      marginTop: (tileDetails.position.y + 11).toString() + 'vw'
    }"
  >
    <p>hehehehehehehehhehehehehehe</p>
  </div> -->
  <div
    class="collected-resources"
    @fadeInOut
    *ngIf="tileDetails && showResources"
    [ngClass]="{ 'is-collecting': isCollecting }"
    [ngStyle]="{
      right: isCollecting ? '1vw' : tileDetails.position.x.toString() + 'vw',
      marginTop: isCollecting
        ? '45vh'
        : (tileDetails.position.y + 3).toString() + 'vw'
    }"
  >
    <img
      *ngIf="tileDetails.resources.crystal"
      class="cristal"
      src="../../../../assets/img/tiles/cristal.png"
      alt=""
    />
    <img
      *ngIf="tileDetails.resources.resine"
      src="../../../../assets/img/tiles/resine.png"
      alt=""
    />
    <img
      *ngIf="
        tileDetails.resources.observatory && collectedResources.anticipation < 3
      "
      src="../../../../assets/img/tiles/ant.png"
      alt=""
    />
  </div>

  <div @slideInRight *ngIf="showResourcePanel" class="resource-panel">
    <div class="resource">
      <img src="../../../../assets/icons/cristal-logo.png" alt="" />
      <h1>{{ collectedResources.cristal }}</h1>
    </div>
    <div class="resource">
      <img src="../../../../assets/icons/resine-logo.png" alt="" />
      <h1>{{ collectedResources.resine }}</h1>
    </div>
    <div class="resource">
      <img src="../../../../assets/icons/observatoire-logo.png" alt="" />
      <h1>{{ collectedResources.anticipation }}</h1>
    </div>
    <div class="resource">
      <img src="../../../../assets/icons/interface-logo.png" alt="" />
      <h1>{{ cardsInHand.length }}</h1>
    </div>
  </div>

  <div
    (mouseover)="showResourcePanel = true"
    (mouseleave)="showResourcePanel = false"
    class="resource-container-button"
  ></div>

  <div @fadeInOutFast *ngIf="showCards" class="cards-screen">
    <div class="cards-container">
      <div
        [ngClass]="{ 'card-down': cardPicked === card.id }"
        class="card"
        *ngFor="let card of cards"
      >
        <img src="../../../../assets/img/cards/{{ card.name }}.png" alt="" />
      </div>
    </div>
    <div class="cards-container">
      <div
        (click)="pickCard(card)"
        [ngClass]="{ 'card-down': cardPicked === card.id }"
        class="card-text"
        *ngFor="let card of cards"
      >
        <h2 [ngClass]="card.darkText ? 'dark' : 'light'" class="title">
          {{ card.info.title | translate }}
        </h2>
        <h2 [ngClass]="card.darkText ? 'dark' : 'light'">
          {{ card.info.description | translate }}
        </h2>
      </div>
    </div>
  </div>

  <div [ngClass]="{ 'show-hand': showHand }" class="cards-hand">
    <div
      @fadeInOutFast
      (mouseenter)="showHand = true"
      (mouseleave)="showHand = false"
      class="card"
      *ngFor="let card of cardsInHand"
    >
      <img src="../../../../assets/img/cards/{{ card.name }}.png" alt="" />
    </div>
  </div>

  <div
    *ngIf="collectedResources.resine === 10 && cardsInHand.length === 10"
    class="finish-container"
    @slideInTopSlow
  >
    <img
      class="qikaa"
      src="../../../../assets/img/qikaa-screaming.png"
      alt=""
    />
    <img class="orus" src="../../../../assets/img/orus-screaming.png" alt="" />
    <h1>{{ "gameplay.wildtech.finish.congratulations" | translate }}</h1>
    <p>
      {{ "gameplay.wildtech.finish.text" | translate }}
    </p>
    <div class="buttons-container">
      <img
        src="../../../../assets/img/logos/discord-logo-round-white.png"
        alt=""
      />
      <h1>+</h1>
      <app-button [name]="'TTS'" [white]="true"></app-button>
    </div>
  </div>
</div>
