@import '../../../styles/colors.scss';
@import '../../../styles/themes.scss';

.wildtech-container {
    width: 100%;
    height: 100vh;
    background-color: $cream;
    overflow-y: hidden;

    .finish-container {
        z-index: 8;
        position: absolute;
        width: 100%;
        height: 100%;
        background: radial-gradient(circle, rgba(93,71,96,1) 0%, rgba(53,36,55,1) 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        overflow: hidden;

        .qikaa {
            position: absolute;
            margin-top: 15vw;
            left: -10vw;
            height: 115%;
            transform: scaleX(-1);
            opacity: 0.5;
            filter: blur(4px);
        }

        .orus {
            position: absolute;
            right: -10vw;
            height: 100%;
            opacity: 0.5;
            filter: blur(4px);
        }

        h1 {
            font-size: 4rem;
            
        }
        p {
            width: 40%;
            font-size: 1.5rem;
        }
        h1, p {
            color: $cream;
            margin-bottom: 2rem;
        }

        .buttons-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            img {
                height: 50px;
                cursor: pointer;
            }
            h1 {
                font-size: 2.5rem;
                margin-bottom: 0;
            }
        }
    }

    .cards-hand {
        position: absolute;
        margin-top: 95vh;
        z-index: 4;
        width: 100%;
        height: 5vh;
        display: flex;
        justify-content: center;
        overflow: hidden;
        transition: 0.2s;

        .card {
            height: 46vh;
            width: 31vh;
            border-radius: 10px;
            background-color: var(--dark-1);
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: rgba(0, 0, 0, 0.22) 0px 2px 4px 0px, rgba(0, 0, 0, 0.42) 0px 2px 16px 0px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .show-hand {
        height: 46vh;
        margin-top: 54vh;
        transition: 0.2s;
    }

    .cards-screen {
        position: absolute;
        z-index: 5;
        height: 100%;
        width: 100vw;
        background-color: var(--dark-3);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        .cards-container {
            position: absolute;
            z-index: 5;
            width: 64vh;
            height: 46vh;
            display: flex;
            justify-content: space-between;

            .card {
                display: flex;
                flex-direction: column;
                height: 46vh;
                width: 31vh;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.22) 0px 2px 4px 0px, rgba(0, 0, 0, 0.42) 0px 2px 16px 0px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .card-text:hover {
                transition: 0.2s;
                outline: 2px solid var(--light-1);
            }

            .card-text {
                transition: 0.2s;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                height: 46vh;
                width: 31vh;
                border-radius: 10px;
                cursor: pointer;
                .title {
                    margin-top: 31.6vh;
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                }
                h2 {
                    font-size: 1.1rem;
                    width: 80%;
                }
                .dark {
                    color: $dark-text;
                }
                .light {
                    color: $white;
                }
            }

            .card-down {
                transition: 0.8s;
                margin-top: 70vh;
            }
        }
    }


    .resource-container-button {
        position: absolute;
        margin-top: 32.5vh;
        right: 0;
        height: 25vh;
        width: 4vw;
    }

    .resource-panel {
        position: absolute;
        right: 0;
        margin-top: 32.5vh;
        height: 25vh;
        width: 8vw;
        background-color: var(--dark-1);
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 0.5rem;

        .resource {
            display: flex;
            align-items: center;
            gap: 1rem;

            img {
                transform: scale(0.8);
            }

            h1 {
                color: $cream;
            }
        }
    }

    .collected-resources {
        position: absolute;
        z-index: 4;
        height: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        transition: 0s;

        img {
            height: 100%;
            width: 100%;
        }
    }

    .is-collecting {
        gap: 3rem;
        transition: 1.2s;
    }

    .details {
        position: absolute;
        z-index: 5;
        transition: 0.2s;
        width: 30vw;
        background: linear-gradient(-120deg, var(--light-3) 30%, var(--light-1) 100%);
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

        .close {
            position: absolute;
            right: 0.2vw;
            top: 0.2vw;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 2vw;
                height: 2vw;
                transition: 0.2s;
            }
        }

        .close:hover {
            img {
                transition: 0.2s;
                transform: rotate(90deg);
            }
        }

        .inner-details {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .resources {
                padding: 1rem;
                width: 60%;
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
                background-color: var(--dark-1);

                .resource {
                    display: flex;
                    gap: 1rem;
                    align-items: center;
                    border-radius: 6px;

                    img {
                        transform: scale(0.7);
                    }

                    h1 {
                        color: $cream;
                    }
                }

                .resource:hover {
                    transition: 0.1s;
                    background: linear-gradient(-120deg, var(--light-1) 30%, var(--light-3) 100%);
                    cursor: pointer;
                }
            }

            .recolte-container {
                padding: 1rem;
                border-bottom-right-radius: 6px;
                border-top-right-radius: 6px;
                width: 40%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                .recolte {
                    height: 8vw;
                    width: 8vw;
                    margin-right: 1vw;
                    background-color: var(--light-3);
                    border-radius: 50%;
                    cursor: pointer;
                    box-shadow:
                        -10px -10px 15px #ff7b7e,
                        10px 10px 15px rgba(33, 18, 18, 0.12);
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .inner-recolte {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        -webkit-animation: rotating 1s linear infinite;
                        -moz-animation: rotating 1s linear infinite;
                        -ms-animation: rotating 1s linear infinite;
                        -o-animation: rotating 1s linear infinite;
                        animation: rotating 1s linear infinite;
                        height: 90%;
                        width: 90%;
                        border-radius: 50%;
                        background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);

                        .inside {
                            background-color: var(--light-3);
                            height: 80%;
                            width: 80%;
                            border-radius: 50%;
                            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            -webkit-animation: rotatingReverse 1s linear infinite;
                            -moz-animation: rotatingReverse 1s linear infinite;
                            -ms-animation: rotatingReverse 1s linear infinite;
                            -o-animation: rotatingReverse 1s linear infinite;
                            animation: rotatingReverse 1s linear infinite;

                            img {
                                width: 40%;
                                height: 40%;
                            }
                        }
                    }
                }
            }

            .recolte:active {
                .inside {
                    transition: 0.2s;
                    height: 70% !important;
                    width: 70% !important;
                }
            }
        }


    }

    .details-more {
        position:absolute;
        width: 20vw;
        background-color: red;
    }

    .title-container {
        position: absolute;
        width: 45vw;
        height: 40vw;
        margin-top: 8vw;
        left: 4vw;
        display: flex;
        flex-direction: column;

        .top {
            margin-bottom: 3vw;
            margin-left: 2vw;

            .back-button {
                width: 200px;
                color: var(--dark-1);
                display: flex;
                align-items: center;
                cursor: pointer;
                margin-bottom: 4vw;
                transition: 0.1s;
                visibility: hidden;

                svg {
                    transform: scale(0.5);
                    fill: var(--light-3);
                }

                h1 {
                    font-size: 0.7rem;
                    transition: 0.2s;
                }
            }

            .back-button:hover {
                margin-left: -1vw;
                transition: 0.1s;

                h1 {
                    letter-spacing: 0.2vw;
                    transition: 0.2s;
                }
            }

            .title {
                small {
                    font-size: 2vw;
                }

                font-size: 5vw;
                color: var(--dark-1);
            }
        }

        .tutorial-steps {
            width: 80%;
            height: 100%;
            margin-left: 20%;

            .stepper {
                height: 100%;
                display: flex;
                flex-direction: column;

                .step-line-container {
                    height: 20%;
                    width: 60%;
                    display: flex;

                    .step-line {
                        margin-left: 20px;
                        width: 1px;
                        height: 100%;
                        background-color: var(--dark-1);
                    }

                    p {
                        margin-left: 2vw;
                        font-size: 0.8rem;
                        color: var(--dark-2);
                    }
                }

                .step {
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    gap: 1rem;
                    cursor: pointer;

                    h1 {
                        font-size: 0.8rem;
                        color: var(--dark-2);
                    }

                    .logo-container {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        background-color: var(--dark-1);
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .inner {
                            width: 90%;
                            height: 90%;
                            background: linear-gradient(-120deg, var(--light-1) 30%, var(--light-3) 70%, var(--dark-1) 100%);
                            border-radius: 50%;
                            -webkit-animation: rotating 1s linear infinite;
                            -moz-animation: rotating 1s linear infinite;
                            -ms-animation: rotating 1s linear infinite;
                            -o-animation: rotating 1s linear infinite;
                            animation: rotating 1s linear infinite;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            .logo-inner-container {
                                width: 80%;
                                height: 80%;
                                background-color: var(--dark-1);
                                border-radius: 50%;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                .logo {
                                    width: 20px;
                                    height: 20px;
                                    -webkit-animation: rotatingReverse 1s linear infinite;
                                    -moz-animation: rotatingReverse 1s linear infinite;
                                    -ms-animation: rotatingReverse 1s linear infinite;
                                    -o-animation: rotatingReverse 1s linear infinite;
                                    animation: rotatingReverse 1s linear infinite;
                                }
                            }
                        }

                        .inner-done {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            img {
                                width: 80%;
                                height: 80%;
                            }
                        }
                    }
                }
            }
        }

        .bottom {
            width: 60%;
            margin-left: 3vw;
            margin-bottom: 3vw;

            strong {
                font-family: 'beckmanFree';
            }
        }

        .bottom-2 {
            margin-left: 3vw;
            margin-bottom: 3vw;

            strong {
                cursor: pointer;
            }
        }

    }

    .cache {
        position: absolute;
        width: 40vw;
        height: 100%;
        background-color: $cream;
    }

    .token-container {
        transition: 0.1s;
        position: absolute;
        z-index: 3;
        right: 24.8vw;
        margin-top: 13vw;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8vw;
        height: 8vw;

        .contour {
            width: 90%;
            height: 90%;
            background: linear-gradient(-120deg, var(--light-1) 30%, var(--light-3) 70%, var(--dark-1) 100%);
            border-radius: 50%;
            -webkit-animation: rotating 1s linear infinite;
            -moz-animation: rotating 1s linear infinite;
            -ms-animation: rotating 1s linear infinite;
            -o-animation: rotating 1s linear infinite;
            animation: rotating 1s linear infinite;
        }

        .token-orus {
            position: absolute;
            width: 80%;
            border-radius: 50%;
            box-shadow: rgba(0, 0, 0, 0.29) 0px 2px 1px, rgba(0, 0, 0, 0.29) 0px 4px 2px, rgba(0, 0, 0, 0.29) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        }

        .grabbing:active {
            cursor: grabbing;
            cursor: -moz-grabbing;
            cursor: -webkit-grabbing;
            border: 3px solid #dfc676;
        }

        .grabbing {
            cursor: move;
            cursor: grab;
            cursor: -moz-grab;
            cursor: -webkit-grab;
        }
    }



    .spinned {
        clip-path: polygon(50% 14%, 25% 0, 0 14%, 0 43%, 25% 57%, 25% 84%, 50% 100%, 75% 84%, 75% 57%, 100% 43%, 100% 14%, 75% 0) !important;
    }

    .line {
        height: 10vw !important;
        width: 25.5vw !important;
        clip-path: polygon(0 25%, 17% 0, 33% 25%, 50% 0, 66% 25%, 83% 0, 100% 25%, 100% 75%, 83% 100%, 66% 75%, 50% 100%, 33% 75%, 16% 100%, 0 75%) !important;

        .front {
            transform: rotateX(180deg) !important;
        }
    }

    .center {
        position: absolute;
        width: 8.3vw;
        height: 9.4vw;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 28.8vw;
        margin-top: 19.4vw;

        img {
            height: 100%;
            width: 100%;
        }
    }

    .tile {
        position: absolute;
        height: 17vw;
        width: 17vw;
        clip-path: polygon(50% 0, 25% 14%, 25% 42%, 0 57%, 0 86%, 25% 100%, 50% 86%, 75% 100%, 100% 86%, 100% 57%, 75% 42%, 75% 14%);
       
        .inner-tile {
            position: relative;
            width: 100%;
            height: 100%;
            transition: transform 0.4s;
            transform-style: preserve-3d;

            .back {
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .front {
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                transform: rotateY(180deg);
                display: flex;
                justify-content: center;
                align-items: center;
            }

            img {
                position: absolute;
                width: 97%;
                transition: 0.2s;
            }

            .dry-token {
                z-index: 3;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }
        }

    }

    .flip-tile {
        transform: rotateY(180deg);
    }

    .flip-tile-x {
        transform: rotateX(180deg);
    }

    .vanish {
        opacity: 0;
        transition: 0.2s;
    }

    .opacityLow {
        transition: 0.2s;
        opacity: 0.6;
    }

    .moveLeft {
        right: 41vw;
    }

    .pointer {
        cursor: pointer;
    }

}