<div class="wildtech-container {{ ashak$ | async }}">
  <div class="cache"></div>
  @if (textShow) {
    <div @slideInLeft class="title-container">
      <div class="top">
        <div (click)="goBack()" class="back-button">
          <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48">
            <path d="M24 40 8 24 24 8l2.1 2.1-12.4 12.4H40v3H13.7l12.4 12.4Z" />
          </svg>
          <h1>{{ 'gameplay.wildtech.back.to.board' | translate }}</h1>
        </div>
        <h1 class="title">
          <small>{{ 'all.the' | translate }}</small
          >WildTech
        </h1>
      </div>
      @if (step > 0 && step < 5) {
        <div class="tutorial-steps">
          <div class="stepper">
            <div @growFromTop class="step-line-container">
              <div class="step-line"></div>
            </div>
            <div (click)="stepClick(tiles[2])" class="step">
              <div @fadeInOutFast class="logo-container">
                @if (step === 1) {
                  <div @fadeInOutFast class="inner">
                    <div class="logo-inner-container">
                      <img
                        class="logo"
                        src="../../../../assets/icons/explore-logo-2.png"
                        alt="" />
                    </div>
                  </div>
                }
                @if (step > 1 && nextStep > 1) {
                  <div @fadeInOutFast class="inner-done">
                    <img src="../../../../assets/icons/check-icon.png" alt="" />
                  </div>
                }
              </div>
              @if (step === 1) {
                <p @fadeInOutFast>
                  {{
                    'gameplay.wildtech.tuto.exploration.explore.tile'
                      | translate
                  }}
                </p>
              }
              @if (step > 1 && this.nextStep > 1) {
                <h1 @fadeInOutFast>
                  {{
                    'gameplay.wildtech.tuto.exploration.exploration' | translate
                  }}
                </h1>
              }
            </div>
            @if (step > 1) {
              <div @growFromTop class="step-line-container">
                <div class="step-line"></div>
                @if (nextStep > 1) {
                  <p @fadeInOut>
                    {{
                      'gameplay.wildtech.tuto.exploration.description'
                        | translate
                    }}
                  </p>
                }
              </div>
              <div class="step">
                <div
                  (click)="moveToken()"
                  @fadeInOutFast
                  class="logo-container">
                  @if (step === 2) {
                    <div @fadeInOutFast class="inner">
                      <div class="logo-inner-container">
                        <img
                          class="logo"
                          src="../../../../assets/icons/move-logo.png"
                          alt="" />
                      </div>
                    </div>
                  }
                  @if (step > 2 && nextStep > 2) {
                    <div @fadeInOutFast class="inner-done">
                      <img
                        src="../../../../assets/icons/check-icon.png"
                        alt="" />
                    </div>
                  }
                </div>
                @if (step === 2) {
                  <p @fadeInOutFast>
                    {{ 'gameplay.wildtech.tuto.move.action' | translate }}
                  </p>
                }
                @if (step > 2 && nextStep > 2) {
                  <h1 @fadeInOutFast>
                    {{ 'gameplay.wildtech.tuto.move.move' | translate }}
                  </h1>
                }
              </div>
            }
            @if (step > 2) {
              <div @growFromTop class="step-line-container">
                <div class="step-line"></div>
                @if (nextStep > 2) {
                  <p @fadeInOut>
                    {{ 'gameplay.wildtech.tuto.move.description' | translate }}
                  </p>
                }
              </div>
              <div (click)="stepClick(tiles[2])" class="step">
                <div @fadeInOutFast class="logo-container">
                  @if (step === 3) {
                    <div @fadeInOutFast class="inner">
                      <div class="logo-inner-container">
                        <img
                          class="logo"
                          src="../../../../assets/icons/recolte-logo.png"
                          alt="" />
                      </div>
                    </div>
                  }
                  @if (step > 3 && nextStep > 3) {
                    <div @fadeInOutFast class="inner-done">
                      <img
                        src="../../../../assets/icons/check-icon.png"
                        alt="" />
                    </div>
                  }
                </div>
                @if (step === 3) {
                  <p @fadeInOutFast>
                    {{ 'gameplay.wildtech.tuto.harvest.action' | translate }}
                  </p>
                }
                @if (step > 3 && nextStep > 3) {
                  <h1 @fadeInOutFast>
                    {{
                      'gameplay.wildtech.tuto.harvest.description' | translate
                    }}
                  </h1>
                }
              </div>
            }
          </div>
        </div>
      }
      @if (step === 5) {
        <div @slideInLeft class="bottom">
          <p>
            <strong>{{
              'gameplay.wildtech.description1.part1' | translate
            }}</strong>
            {{ 'gameplay.wildtech.description1.part2' | translate }}
          </p>
        </div>
        <div @slideInRight class="bottom-2">
          <p>
            {{ 'gameplay.wildtech.description2.part1' | translate
            }}<strong>Battle Royale</strong>
            {{ 'gameplay.wildtech.description2.part3' | translate }}
          </p>
        </div>
        <div @slideInLeft class="bottom-2">
          <p>
            {{ 'gameplay.wildtech.description3.part1' | translate
            }}<strong>{{
              'gameplay.wildtech.description3.part2' | translate
            }}</strong
            >{{ 'gameplay.wildtech.description3.part3' | translate }}
          </p>
        </div>
      }
    </div>
  }

  <div
    freeDragging
    class="token-container"
    [ngClass]="{ opacityLow: step === 1, moveLeft: moveTokenButton }">
    @if (step === 2) {
      <div @fadeInOutFast class="contour"></div>
    }
    <img
      [ngClass]="{ grabbing: step > 1 }"
      @fadeInOut
      (mousedown)="grabbingToken()"
      (mouseup)="releaseToken()"
      class="token-orus"
      src="../../../../assets/img/plateaux/token_orus.png"
      alt="" />
  </div>

  @for (tile of tiles; track tile) {
    @if (tile.show) {
      <div
        (mouseenter)="step > 2 ? (tile.hover = true) : (tile.hover = false)"
        (mouseleave)="tile.hover = false"
        @fadeInOut
        [ngClass]="{
          spinned: tile.spinned,
          line: tile.line,
          opacityLow: step === 1 && tile.id !== '3',
          pointer: step > 4 || tile.id === '3'
        }"
        (click)="tileClick(tile)"
        class="tile"
        [ngStyle]="{
          right: tile.x.toString() + 'vw',
          marginTop: tile.y.toString() + 'vw'
        }">
        <div
          class="inner-tile"
          [ngClass]="{
            'flip-tile': tile.flipped && !tile.line,
            'flip-tile-x': tile.flipped && tile.line
          }">
          <div class="back">
            <img
              src="../../../../assets/img/tiles/{{
                tile.spinned ? 'flip' : ''
              }}{{ tile.line ? 'line' : '' }}back_hover.png"
              alt="" />
            <img
              [ngClass]="{ vanish: tile.hover }"
              src="../../../../assets/img/tiles/{{
                tile.spinned ? 'flip' : ''
              }}{{ tile.line ? 'line' : '' }}back.png"
              alt="" />
          </div>
          <div class="front">
            @if (tile.dry) {
              <img
                @slideInTopSlow
                class="dry-token"
                src="../../../../assets/img/tiles/dry.png"
                alt="" />
            }
            <img
              src="../../../../assets/img/tiles/front_{{ tile.id }}_hover.png"
              alt="" />
            <img
              [ngClass]="{ vanish: tile.hover }"
              src="../../../../assets/img/tiles/front_{{ tile.id }}.png"
              alt="" />
          </div>
        </div>
      </div>
    }
  }
  @if (centerShow) {
    <div @fadeInOut class="center" [ngClass]="{ opacityLow: step === 1 }">
      <img src="../../../../assets/img/tiles/front_center.png" alt="" />
    </div>
  }
  @if (showDetails) {
    <div
      @fadeInOutFast
      class="details"
      [ngStyle]="{
        right: tileDetails.position.x.toString() + 'vw',
        marginTop: tileDetails.position.y.toString() + 'vw'
      }">
      <div class="inner-details">
        <div class="resources">
          @if (tileDetails.resources.crystal) {
            <a target="_blank" class="resource">
              <img src="../../../../assets/icons/cristal-logo.png" alt="" />
              <h1>{{ 'resources.crystal' | translate }}</h1>
            </a>
          }
          @if (tileDetails.resources.resine) {
            <a target="_blank" class="resource">
              <img src="../../../../assets/icons/resine-logo.png" alt="" />
              <h1>{{ 'resources.resin' | translate }}</h1>
            </a>
          }
          @if (tileDetails.resources.observatory) {
            <a target="_blank" class="resource">
              <img
                src="../../../../assets/icons/observatoire-logo.png"
                alt="" />
              <h1>{{ 'resources.observatory' | translate }}</h1>
            </a>
          }
          @if (tileDetails.resources.interface) {
            <a target="_blank" class="resource">
              <img src="../../../../assets/icons/interface-logo.png" alt="" />
              <h1>{{ 'resources.interface' | translate }}</h1>
            </a>
          }
          @if (tileDetails.resources.volcano) {
            <a target="_blank" class="resource">
              <img src="../../../../assets/icons/volcan-logo.png" alt="" />
              <h1>{{ 'resources.volcano' | translate }}</h1>
            </a>
          }
          @if (tileDetails.resources.lake) {
            <a target="_blank" class="resource">
              <img src="../../../../assets/icons/lake-logo.png" alt="" />
              <h1>{{ 'resources.lake' | translate }}</h1>
            </a>
          }
        </div>
        <div class="recolte-container">
          <div (click)="recolte(tileDetails)" class="recolte">
            <div class="inner-recolte">
              <div class="inside">
                <img src="../../../../assets/icons/collect-logo.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div (click)="showDetails = false; showResources = false" class="close">
        <img src="../../../../assets/icons/close-logo.png" alt="" />
      </div>
    </div>
  }
  <!-- <div
    @slideInTopSlow
    *ngIf="showDetails && showMoreDetails"
    class="details-more"
    [ngStyle]="{
      right: tileDetails.position.x.toString() + 'vw',
      marginTop: (tileDetails.position.y + 11).toString() + 'vw'
    }"
  >
    <p>hehehehehehehehhehehehehehe</p>
  </div> -->
  @if (tileDetails && showResources) {
    <div
      class="collected-resources"
      @fadeInOut
      [ngClass]="{ 'is-collecting': isCollecting }"
      [ngStyle]="{
        right: isCollecting ? '1vw' : tileDetails.position.x.toString() + 'vw',
        marginTop: isCollecting
          ? '45vh'
          : (tileDetails.position.y + 3).toString() + 'vw'
      }">
      @if (tileDetails.resources.crystal) {
        <img
          class="cristal"
          src="../../../../assets/img/tiles/cristal.png"
          alt="" />
      }
      @if (tileDetails.resources.resine) {
        <img src="../../../../assets/img/tiles/resine.png" alt="" />
      }
      @if (
        tileDetails.resources.observatory && collectedResources.anticipation < 3
      ) {
        <img src="../../../../assets/img/tiles/ant.png" alt="" />
      }
    </div>
  }

  @if (showResourcePanel) {
    <div @slideInRight class="resource-panel">
      <div class="resource">
        <img src="../../../../assets/icons/cristal-logo.png" alt="" />
        <h1>{{ collectedResources.cristal }}</h1>
      </div>
      <div class="resource">
        <img src="../../../../assets/icons/resine-logo.png" alt="" />
        <h1>{{ collectedResources.resine }}</h1>
      </div>
      <div class="resource">
        <img src="../../../../assets/icons/observatoire-logo.png" alt="" />
        <h1>{{ collectedResources.anticipation }}</h1>
      </div>
      <div class="resource">
        <img src="../../../../assets/icons/interface-logo.png" alt="" />
        <h1>{{ cardsInHand.length }}</h1>
      </div>
    </div>
  }

  <div
    (mouseover)="showResourcePanel = true"
    (mouseleave)="showResourcePanel = false"
    class="resource-container-button"></div>

  @if (showCards) {
    <div @fadeInOutFast class="cards-screen">
      <div class="cards-container">
        @for (card of cards; track card) {
          <div [ngClass]="{ 'card-down': cardPicked === card.id }" class="card">
            <img
              src="../../../../assets/img/cards/{{ card.name }}.png"
              alt="" />
          </div>
        }
      </div>
      <div class="cards-container">
        @for (card of cards; track card) {
          <div
            (click)="pickCard(card)"
            [ngClass]="{ 'card-down': cardPicked === card.id }"
            class="card-text">
            <h2 [ngClass]="card.darkText ? 'dark' : 'light'" class="title">
              {{ card.info.title | translate }}
            </h2>
            <h2 [ngClass]="card.darkText ? 'dark' : 'light'">
              {{ card.info.description | translate }}
            </h2>
          </div>
        }
      </div>
    </div>
  }

  <div [ngClass]="{ 'show-hand': showHand }" class="cards-hand">
    @for (card of cardsInHand; track card) {
      <div
        @fadeInOutFast
        (mouseenter)="showHand = true"
        (mouseleave)="showHand = false"
        class="card">
        <img src="../../../../assets/img/cards/{{ card.name }}.png" alt="" />
      </div>
    }
  </div>

  @if (collectedResources.resine === 10 && cardsInHand.length === 10) {
    <div class="finish-container" @slideInTopSlow>
      <img
        class="qikaa"
        src="../../../../assets/img/qikaa-screaming.webp"
        alt="" />
      <img
        class="orus"
        src="../../../../assets/img/orus-screaming.png"
        alt="" />
      <h1>{{ 'gameplay.wildtech.finish.congratulations' | translate }}</h1>
      <p>
        {{ 'gameplay.wildtech.finish.text' | translate }}
      </p>
      <div class="buttons-container">
        <img
          src="../../../../assets/img/logos/discord-logo-round-white.png"
          alt="" />
        <h1>+</h1>
        <app-button [name]="'TTS'" [white]="true"></app-button>
      </div>
    </div>
  }
</div>
