@import '../../../styles/themes.scss';
@import '../../../styles/utils.scss';

.battle-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: $cream;

  &::after {
    content: '';
    position: absolute;
    top: -10vh;
    right: 50px;
    width: calc(50vw - 55px);
    height: 100px;
    background-color: var(--dark-1);
    opacity: 0.6;
    clip-path: polygon(100% 0, 100% 1px, -105px 100%, -100px calc(100% - 1px));
  }

  .right-line {
    position: absolute;
    right: 50px;
    top: -10vh;
    width: 1px;
    height: calc(100vh + 10vh);
    background-color: var(--dark-1);
    opacity: 0.6;

    @media (max-width: 768px) {
      right: 20px;
    }
  }

  .logo-container {
    position: absolute;
    top: calc(50% - 10vh);
    right: 20px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $cream;
    padding: 1rem;
    .logo-rivals {
      width: 100%;
    }

    @media (max-width: 768px) {
      right: 20px;
      transform: translateX(50%);
    }
  }

  .text-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    top: 10vh;
    right: 15vw;
    width: 40%;

    @media (max-width: 768px) {
      width: 80%;
      right: 10vw;
    }

    p {
      color: var(--dark-1);
      opacity: 0.8;
      white-space: pre-wrap;
      font-family: monospace;
    }

    h1 {
      font-size: 5.5rem;
      line-height: 4rem;
      color: var(--dark-1);

      @media (max-width: 768px) {
        font-size: 3rem;
        line-height: 2rem;
      }
    }
  }

  .mask-image-top {
    position: absolute;
    width: 32%;
    margin-top: -5vh;
    z-index: 1;

    @media (max-width: 768px) {
      margin-top: 0;
      width: 100%;
      opacity: 0.5;
    }
  }

  .fille-desert {
    position: absolute;
    margin-top: -5vh;
    width: 32%;
    transform: none !important;

    @media (max-width: 768px) {
      margin-top: 0;
      width: 100%;
      opacity: 0.1;
    }

    .mask-image {
      width: 100%;
      visibility: hidden;
    }

    .content-image {
      position: absolute;
      top: 0;
      left: -50%;
      width: 200%;
      height: 100%;
      object-fit: cover;
      -webkit-mask-image: url('../../../../assets/img/backgrounds/fille_desert.png');
      mask-image: url('../../../../assets/img/backgrounds/fille_desert.png');
      -webkit-mask-size: contain;
      mask-size: contain;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-position: center;
      mask-position: center;
      will-change: transform;
    }
  }
}


.typewriter {
  border-right: 2px solid transparent;
  animation: blinkCursor 0.7s infinite;
}

@keyframes blinkCursor {
  from {
    border-right-color: rgba(0, 0, 0, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
