.card-details-comment {
  position: fixed;
  right: 0;
  display: flex;
  z-index: 4;
  width: 30%;
  height: calc(100vh - 4rem - 65px);
  margin-top: calc(65px + 1rem);
  margin-right: 1rem;
  border-radius: 1rem;

  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.905);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  .close-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }

  .card-details-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    .header {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid #00000017;
      .row-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;

        button {
          color: var(--white);
          border: 1px dotted var(--dark-1);
          padding: 0.3rem 1rem;
          background-color: transparent;
          border-radius: 15px;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          color: var(--dark-1);
          font-family: 'Maven pro';
          font-size: 14px;

          &:hover {
            border-radius: 0;
            border-style: solid;
          }

          &.is-validated {
            border-radius: 0;
            color: var(--white);
            background-color: var(--dark-1);
          }
        }
      }
    }

    .details-content {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      flex: 1;
      .details-content-header {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .text-area-wrapper {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          align-items: flex-end;
          flex: 1;
          textarea {
            width: calc(100% - 1rem);
            border: 1px solid rgba(128, 128, 128, 0.195);
            height: 50px;
            border-radius: 5px;
            outline: none;
            font-family: 'Maven pro';
            padding-inline: 0.5rem;
            padding-block: 0.5rem;
          }
          .send-button {
            width: 2rem;
            border: none;

            height: 2rem;
            background-color: var(--dark-1);
            border-radius: 0.25rem;
            cursor: pointer;
            font-family: 'Maven pro';
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.1s ease-in-out;
            img {
              width: 90%;
            }

            &:hover {
              transform: scale(1.05);
            }
            &:active {
              transform: scale(1);
            }
          }
        }
      }
      .comments-wrapper {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        height: 400px;
        overflow-y: scroll;
        padding: 0.5rem;
        .comment {
          display: flex;
          flex-direction: column;
          padding: 0.5rem;
          border-radius: 0.5rem;
          box-shadow:
            rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
            rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
          .comment-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 0.5rem;
            border-bottom: 1px solid #00000017;

            .comment-author {
              font-size: 0.8rem;
              font-weight: 600;
              opacity: 0.5;
            }

            .comment-date {
              font-size: 0.8rem;
              color: #00000080;
            }
          }
          .comment-content {
            padding-top: 0.5rem;

            .comment-actions {
              display: flex;
              flex-direction: row;
              justify-content: flex-end;
              align-items: center;
              gap: 0.5rem;
              .comment-likes {
                font-size: 0.8rem;
                font-weight: 600;
                opacity: 0.5;
              }
            }
          }
        }
      }
    }
  }
}

.like-button {
  width: 35px;
  height: 35px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  .love-icon {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: black;
    stroke-width: 90px;
    stroke-linecap: round;
    stroke-linejoin: round;
    opacity: 0.2;

    &:hover {
      opacity: 1;
    }

    &.liked {
      fill: rgb(208, 60, 60);
      stroke: none;
      opacity: 1;
    }
  }
}

.delete-icon {
  width: 100%;
  height: 100%;
  stroke: black;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.spinner {
  width: 12px;
  height: 12px;
  border: 2px solid #f3f3f3;
  border-top: 2px solid var(--light-3);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
