<div class="lore-container">
  <div class="left"></div>
  <div class="right">
    <div class="cards-grid">
      <!-- 4 rangées de 5 cartes -->
      @for (card of cards; track card.id) {
        <div
          class="card"
          [ngClass]="{
            opaque: [1, 2, 3,  9, 10, 11,  17, 18, 19, 25, 26, 27, 34, 35].includes(card.id),
            opaquePlus: [1, 9, 17, 25, 33].includes(card.id),
          }">
          <img
            [src]="'../../../../assets/img/cards/home/' + card.path"
            alt="Card {{ card.id }}" />
        </div>
      }
    </div>
  </div>
</div>
