.lore-container {
  width: 100%;
  height: 140vh;
  background-color: var(--cream);
  display: flex;
  justify-content: space-between;
  overflow: hidden;

  .right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    .cards-grid {
      margin-right: 1000px;
      display: grid;
      grid-template-columns: repeat(8, 158.625px);
      grid-template-rows: repeat(5, 235px);
      gap: 20px;
      transform: perspective(1000px) 
                rotateX(30deg) 
                rotateZ(30deg)
                rotateY(-20deg);
      transform-style: preserve-3d;

      .card {
        border-radius: 7px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.364);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        cursor: grab;

        &.opaque {
          opacity: 0.2;
        }

        &.opaquePlus {
          opacity: 0.05;
        }

        &.in-view {
          transform: translateZ(40px);
          box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 7px;
        }

        &:hover {
          transform: translateZ(40px);
          box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
        }

       
      }
    }
  }
}
