<div class="deckbuilding-section">
  <div class="title">
    <h1>DECKBUILDING</h1>
  </div>
  <div class="sections">
    <div class="starters card">
      <h1>Decks de départ</h1>
      <div class="start-wrapper">
        <div class="starters-cards">
          <a
            [routerLink]="['/rivals/gameplay/cards']"
            [queryParams]="{ ashak: 'atmos' }"
            class="starter atmos">
            <img
              src="../../../../assets/img/gameplay/deckbuild/atmos.png"
              alt="" />
            <img
              class="deck"
              src="../../../../assets/img/gameplay/deckbuild/atmos_deck.png"
              alt="" />
          </a>
          <a
            [routerLink]="['/rivals/gameplay/cards']"
            [queryParams]="{ ashak: 'qikaa' }"
            class="starter qikaa">
            <img
              src="../../../../assets/img/gameplay/deckbuild/qikaa.png"
              alt="" />
            <img
              class="deck"
              src="../../../../assets/img/gameplay/deckbuild/qikaa_deck.png"
              alt="" />
          </a>
          <a
            [routerLink]="['/rivals/gameplay/cards']"
            [queryParams]="{ ashak: 'orus' }"
            class="starter orus">
            <img
              src="../../../../assets/img/gameplay/deckbuild/orus.png"
              alt="" />
            <img
              class="deck"
              src="../../../../assets/img/gameplay/deckbuild/orus_deck.png"
              alt="" />
          </a>
          <a
            [routerLink]="['/rivals/gameplay/cards']"
            [queryParams]="{ ashak: 'gyaleis' }"
            class="starter gyaleis">
            <img
              src="../../../../assets/img/gameplay/deckbuild/gyaleis.png"
              alt="" />
            <img
              class="deck"
              src="../../../../assets/img/gameplay/deckbuild/gyaleis_deck.png"
              alt="" />
          </a>
        </div>
        <div class="starters-cards">
          <a
            [routerLink]="['/rivals/gameplay/cards']"
            [queryParams]="{ ashak: 'renko' }"
            class="starter renko">
            <img
              src="../../../../assets/img/gameplay/deckbuild/renko.png"
              alt="" />
            <img
              class="deck"
              src="../../../../assets/img/gameplay/deckbuild/renko_deck.png"
              alt="" />
          </a>
          <a
            [routerLink]="['/rivals/gameplay/cards']"
            [queryParams]="{ ashak: 'phae' }"
            class="starter phae">
            <img
              src="../../../../assets/img/gameplay/deckbuild/phae.png"
              alt="" />
            <img
              class="deck"
              src="../../../../assets/img/gameplay/deckbuild/phae_deck.png"
              alt="" />
          </a>
          <a
            [routerLink]="['/rivals/gameplay/cards']"
            [queryParams]="{ ashak: 'yosh' }"
            class="starter yosh">
            <img
              src="../../../../assets/img/gameplay/deckbuild/yosh.png"
              alt="" />
            <img
              class="deck"
              src="../../../../assets/img/gameplay/deckbuild/yosh_deck.png"
              alt="" />
          </a>
          <a
            [routerLink]="['/rivals/gameplay/cards']"
            [queryParams]="{ ashak: 'xhan' }"
            class="starter xhan">
            <img
              src="../../../../assets/img/gameplay/deckbuild/xhan.png"
              alt="" />
            <img
              class="deck"
              src="../../../../assets/img/gameplay/deckbuild/xhan_deck.png"
              alt="" />
          </a>
        </div>
      </div>
    </div>
    <div class="card">
      <h1>Installer</h1>
    </div>
    <div class="card">
      <h1>Désinstaller</h1>
    </div>
  </div>
</div>
