<div class="story-container qikaa">
  <div *ngIf="isFr && isAStory" class="fr">
    <h1>Xhan Banut: L'espoir de la Nation</h1>
    <p>
      Xhan Banut, plus connu sous le nom de Spanner le Cyber-Architecte n'est
      pas seulement un architecte de renom. <br /><br />
      Scientifique adulé, archéologue réputé, musicien à ses heures perdues, il
      s'est essayé – par le passé – à la politique avant de se retirer suite aux
      scandales internes à notre ancien gouvernement qu'il a dévoilés à la
      Strana puis démantelé.<br /><br />
      Suite à sa nomination au statut d'Ashak pour la confrontation Rivals qui
      décidera de notre destin dans 10 ans, beaucoup s'interrogent sur la
      personne qu'il est.<br /><br />
      Je suis Irina Magomedov, journaliste chez Sputnik et aujourd'hui nous nous
      retrouvons pour l'interview du plus célèbre architecte de la Strana !<br /><br /><br />
      <strong>Irina</strong> : Bonjour, avant toute chose, comment dois-je vous
      appeler ? Spanner ? Xhan Banut ?<br /><br />
      <strong>Spanner</strong> : Ah ah, bonjour Irina. Vous pouvez m'appeler
      Spanner, comme le font mes proches.<br /><br />
      <strong>I</strong> : Ok ! C'est un plaisir de vous avoir ici ! Après des
      années en retrait de la scène médiatique, vous voilà, contre votre gré, de
      retour ! Revenons en arrière si vous voulez bien. Quelle a été votre
      réaction il y a 10 jours suite à l'annonce du gouvernement ?<br /><br />

      <strong>S</strong> : Je ne vais pas vous mentir, j'ai appris ma nomination
      il y a 2 jours et mon sentiment était de la colère.<br />
      Je rentrais de recherches dans le Cyberspace. Je n'avais aucune idée de
      pourquoi ma tête était à la Une. Qui plus est, associée à des mots tels
      que « élu » et « Ashak » ou à des énigmes anxiogènes de type « Peut-on lui
      faire confiance ? ».<br /><br />
      J'ai fini par appeler un proche qui m'a présenté ses condoléances face à
      ma nomination en tant qu’Ashak.<br />
      Ça n'a pas arrangé la chose…, ma colère n’en était que plus intense.<br /><br />

      <strong>I</strong> : Vous étiez donc dans le Cyberspace…, qu’y
      faisiez-vous ?<br /><br />

      <strong>S</strong> : En partie oui. J'ai appris que de plus en plus de
      groupes se lançaient dans l'inconnu pour échapper à certaines «
      contraintes » que l'on connaît bien dans la Voie. Quelles que soient leurs
      raisons – bonnes ou mauvaises – les retours que j'ai pu capter sont
      prometteurs. La seule chose que je peux vous dire est que, comme le
      Réseau, je cherche des solutions à nos problématiques, mais que
      contrairement à eux, je ne cherche pas à sacrifier les miens.<br /><br />

      <strong>I</strong> : Dois-je comprendre que votre colère est liée au
      Réseau ?<br /><br />

      Spanner sort un paquet de cigarette de sa poche et en allume une.<br /><br />

      <strong>S</strong> : Effectivement, j'ai un passé avec le Réseau et comme
      nous nous, je comprends l’utilité d'une telle entité mais je doute
      sévèrement de ses choix et méthodes.<br /><br />

      <strong>I</strong> : Pourtant, vous avez par le passé, vous aussi, eu des
      méthodes un peu bordeline ?<br /><br />

      <strong>S</strong> : Dois-je vous rappeler que si la Strana est ce qu'elle
      est aujourd'hui c'est parce que j'ai eu ces méthodes « borderlines » ?
      Nous étions dans un système clairement dictatorial, à la limite de
      l'endoctrinement systémique. De notre naissance à notre mort nous servions
      la Strana sans intérêt personnel. A ce niveau, c'est étonnant qu'on n’en
      soit pas arrivé au cerveau Matriochka ! Comme chacun des membres de notre
      peuple, j'ai servi. Lors de mon passage dans l'armée, j'ai été exemplaire
      ! Pleins de bonnes convictions, j'étais prêt à donner ma vie pour montrer
      l'exemple et faire rayonner la Strana dans la Voie ! Pendant des
      décennies, nous avons été naïfs... Lorsque je m'en suis rendu compte,
      j'avais toutes les cartes en main pour apporter une solution à mon peuple.
      Alors j'ai agi.<br /><br />

      Je n'ai pas les mêmes méthodes que le Réseau.<br />
      Choisir au hasard 6 clans pour les faire s'affronter dans une arène
      développée par une technologie qu'on ne comprend que trop peu et tout ça
      pour au final bannir les perdants de la Voie, j'appelle pas ça une
      solution.<br /><br />

      Renverser un gouvernement corrompu qui aliène son peuple pour l'intérêt
      d'une poignée d'individus et le remplacer par une démocratie athénienne,
      ça, c'est une solution, ma solution. Malgré les pertes que l'on a pu
      subir. J'assume entièrement cette responsabilité et c'est pour cette
      raison que je me suis retiré et ai refusé tout rôle dans notre nouvelle
      institution décisionnaire. Je suis aujourd'hui concentré sur mes
      recherches, toujours dans le but de servir la Strana et suis régulièrement
      consulté par nos pairs pour mes conseils avisés.<br /><br />

      <strong>I</strong> : … <br><br>

      <strong>S</strong> : Je me suis emporté, ah ah. Mais quand même. A la
      lecture du communiqué de presse du Réseau concernant Rivals, on s’est tous
      dit : “mais qu’est-ce qu’ils foutent ?!”.<br /><br />

      <strong>I</strong> : Effectivement, ce sentiment est justifié et je suis
      sûre que beaucoup dans la Strana vous rejoignent. Vous parliez d'un passif
      avec le Réseau, pouvez-vous nous en dire plus ?<br /><br />

      <strong>S</strong> : Attention Irina, je commence à penser que vous voulez
      entretenir cette colère que je vous ai dévoilé !<br /><br />

      <strong>I</strong> : Je ne dirais pas ça comme ça. Disons plutôt que nous
      partageons ce sentiment. Nous subissons une injustice, comme celle dont
      vous nous avez sorti il y a des années. A ce moment vous étiez quasiment
      seul, une poignée d'individus. Aujourd'hui je parle au nom de la Strana,
      vous n'êtes plus seul ! Cette colère, nous aimons voir qu'elle est
      collective, elle nous anime, nous donne la force. Vous voir avec cette
      combativité nous aide.<br /><br />

      <strong>S</strong> : Voilà des paroles qui font plaisir. Entretenons cette
      colère alors.<br /><br />
      Je vais vous raconter.<br />
      A mon humble échelle, j'ai passé ma vie à fouiller des vieux sites dans de
      sombres secteurs de la Voie. J'en suis au Cyberespace, qui regorge de plus
      de vie que ce qu'on peut en dire, que ce que l'on nous a raconté.<br />
      Je cherche des artefacts, de nouvelles formes de vies, tout ce qui
      pourrait aider notre cause.<br />
      Une partie de la clef de mon travail se trouve dans les mains du
      Réseau.<br />
      <strong>I</strong> : Le Karnakan ?<br /><br />
      <strong>S</strong> : J’ai écopé d’un refus lorsque le Réseau cherchait des
      scientifiques pour étudier sa techno.<br />
      Dans un message plein de condescendance, ils m'ont fait comprendre que
      j'étais trop instable pour travailler avec eux. A croire que l'ancien
      régime de la Strana leur était plus bénéfique.<br /><br />

      Depuis, la seule chose qu'ils ont su tirer du Karnakan c'est une putain
      d'arène dans laquelle va se jouer le destin de 6 Clans.<br />
      On le sait, cette technologie n'est pas humaine. Je suis en possession de
      technologies qui possèdent des caractéristiques similaires. Mais je n'ai
      aucun moyen de le prouver.<br />
      Qu'est-ce qui leur dit que l'intelligence qui a ramené le Karnakan n'a pas
      laissé d'autres artefacts par le passé ?<br />
      La clef est là, devant nos yeux, il faut apprendre et la décrypter.<br /><br />

      <strong>I</strong> : Vous voulez dire que ceux qui ont laissé le Karnakan
      l'on fait pour nous aider ?<br /><br />

      <strong>S</strong> : Probablement. Mais il est trop tôt pour l'affirmer.
      Cette piste est la meilleure que l'on ai, mais elle est au main d'une
      entité qui nous contrôle. Je fais un parallèle avec notre situation passée
      et ça me donne des idées.<br /><br />

      <strong>I</strong> : Vous insinuez qu'il faudrait se rebeller contre le
      Réseau ?<br /><br />

      <strong>S</strong> : Pas nécessairement. Mais que se passera-t-il quand
      ils devront mettre 5 Clans hors de la Voie ? Et si nous en faisons partie
      ? La première fois, personne n’y croyait. Du temps s’est écoulé depuis. Je
      me prépare à toutes les éventualités et je ne pense pas être le seul.<br /><br />

      <strong>I</strong> : Voilà qui est rassurant... et que pensez-vous du
      choix immédiat de la Strana en votre personne ?<br /><br />

      <strong>S</strong> : Comme je vous l'ai dit, mon sentiment à cette annonce
      a été de la colère. Mais je vais être clair, cette colère est destinée au
      Réseau.<br />
      Lors de la chute de l'ancien gouvernement, j'ai été clair. Je suis né pour
      servir mon peuple et je donnerais tout pour lui. L'endoctrinement passé a
      laissé des traces en nous tous. Même si mon dévouement en est une
      résultante, c'est celle que j'embrasse volontiers. La Strana a bien
      fait.<br /><br />

      J'ai démontré mes capacités à me sortir indemne de situations plutôt peu
      conventionnelles.<br />
      Nous sommes capables de grandes choses. J'ai conçu les plans d'Asimov IV,
      première planète intégralement artificielle qui est aujourd’hui proche de
      l’autosuffisance, un vrai progrès !<br />
      Mon savoir et les technologies que j'ai accumulés au cours de mes
      recherches et voyages me permettront d'outrepasser le Réseau et l'emprise
      qu'ils ont sur notre peuple.<br /><br />

      Je ne suis pas seul. Vous me l'avez confirmé, la Strana aussi, en me
      nommant. Mes équipes et moi-même sommes déterminés.<br /><br />

      <strong>I</strong> : Une nouvelle fois, vous nous prouvez que vous êtes
      digne de votre place. Au nom de la Strana, notre confiance en vous est
      inébranlable.<br /><br />

      <strong>S</strong> : N'ayez pas peur. Peu importe l'issue, nous nous
      relèverons.<br />
      Nous allons leur montrer !<br /><br />

      <strong>I</strong> : Un est tout.<br /><br />

      <strong>S</strong> : Tout est un.<br /><br />

      Fin de l'interview.
    </p>
  </div>
  <div *ngIf="!isFr || !isAStory" class="other">
    <p>No Data</p>
  </div>
</div>
