@import '../../../styles/colors.scss';
@import '../../../styles/themes.scss';

// Couleurs
.gradient-1 {
  background: linear-gradient(to right, #ff823518, #30e8c018);
}

.gradient-2 {
  background: linear-gradient(to right, #fffcdc18, #d9a7c718);
}

.gradient-3 {
  background: linear-gradient(
    to right,
    #e1f5c418,
    #ede57418
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

p {
  opacity: 0.5;
}

app-ashak-choice {
  position: fixed;
  z-index: 20;
}

.panel-container {
  width: 100vw;
  height: 100vh;
  background-color: $cream;
  display: flex;
  justify-content: flex-start;

  .close {
    width: 40px;
    height: 40px;
    border: 1px dotted black;
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: flex;
    z-index: 200;
    justify-content: center;
    align-items: center;
    opacity: 0.3;
    transition: 0.2s;
    cursor: pointer;

    @media only screen and (max-width: 650px) {
      top: 0.5rem;
      right: 0.5rem;
      left: auto;
    }

    &:hover {
      border-radius: 8px;
      transform: scale(0.9);
      img {
        transform: scale(0.7);
      }
    }

    img {
      transition: 0.2s;
      height: 40%;
      width: 40%;
    }
  }

  .inside {
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    padding-left: 8%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

    @media only screen and (max-width: 650px) {
      gap: 0rem;
      justify-content: space-between;
      padding: 0;
    }

    .header {
      width: 100%;
      display: flex;
      height: 100px;
      justify-content: space-between;
      gap: 3rem;
      @media only screen and (max-width: 650px) {
        width: 90%;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        height: fit-content;
        flex-direction: column;
        gap: 1rem;
        .head {
          display: flex;
          gap: 1rem;
          align-items: center;
          opacity: 0.5;

          .logo-wrapper {
            width: 80px;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px dotted rgba(0, 0, 0, 0.266);
            border-radius: 8px;
            transition: 0.2s;
            img {
              width: 80%;
            }
          }
        }
        .extra {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;

          .promo {
            display: flex;
            flex-direction: column;
            border: 1px solid rgba(0, 0, 0, 0.241);
            border-radius: 8px;
            img {
              width: 100%;
              border-radius: 8px;
            }
            p {
              padding: 0.5rem;
            }
          }
        }
        .panier {
          display: flex;
          width: 100%;
          justify-content: center;
          position: relative;
          
          .panier-wrapper {
            width: 30px;
            height: 30px;
            display: flex;
          }
        }
      }

      .left-header {
        display: flex;
        gap: 1rem;
        flex: 1;
        .header-text {
          h1 {
            font-size: 2rem;
            opacity: 0.2;
            white-space: nowrap;
          }

          .boutique {
            font-size: 1rem;
          }

          p {
            opacity: 0.2;
            font-weight: lighter;
          }
        }

        .logo-wrapper {
          width: 100px;
          height: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px dotted rgba(0, 0, 0, 0.266);
          border-radius: 8px;
          transition: 0.2s;

          // &:hover {
          //   border-radius: 100px;
          //   border-style: dashed;
          //   .logo-unk {
          //     transform: scale(0.5) rotate(-180deg);
          //   }
          // }
          .logo-unk {
            transition: 0.2s;
            width: 60%;
            opacity: 0.2;
          }
        }
      }

      .middle-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        flex: 1;
        border: 2px solid black;
        border-radius: 8px;
        .promo {
          flex: 1;
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 100%;
          img {
            height: 100%;
          }
          p {
            padding: 1rem;
          }
        }
        .important {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100%;
        }
      }

      .right-header {
        position: relative;
        display: flex;
        gap: 1rem;
        flex: 1;
        height: 100%;
        justify-content: flex-end;
        align-items: center;
       
      }
    }

    .inner-square {
      width: 100%;
      height: 70%;
      border: 2px dotted rgba(0, 0, 0, 0.165);
      border-radius: 20px;
      overflow: scroll;
      display: flex;
      flex-direction: column;
      @media only screen and (max-width: 650px) {
        width: 90%;
        height: 80%;
        margin-bottom: 1rem;
      }

      .topics {
        display: flex;
        flex-direction: row;
        padding: 1rem;
        gap: 1rem;

        @media only screen and (max-width: 650px) {
          flex-direction: column;
        }

        .bloc {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 1rem;
        }

        .topic {
          position: relative;
          display: flex;
          gap: 1rem;
          border: 1px dotted rgba(0, 0, 0, 0.152);
          padding: 1rem;
          border-radius: 8px;
          transition: 0.2s;
          @media only screen and (max-width: 650px) {
            flex-direction: column;
          }

          h1 {
            font-style: oblique;
            letter-spacing: 2px;
            background: linear-gradient(
              to right,
              rgb(122, 138, 138),
              rgb(17, 22, 20)
            );
            -webkit-background-clip: text;
            color: transparent;
          }

          p,
          h1 {
            font-weight: lighter;
          }

          .texte {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            justify-content: space-between;
            width: 100%;

            .extra-info {
              font-size: 0.8rem;
            }

            .date {
              margin-top: 2rem;
              font-size: 0.8rem;
            }

            .last {
              align-self: flex-end;
              justify-self: flex-end;
              display: flex;
              justify-content: space-between;
              align-items: center;
              gap: 0.5rem;
              width: 100%;

              .add-to-cart {
                border: none;
                padding: 0.5rem 1rem;
                border-radius: 8px;
                height: 40px;
                border: 1px solid grey;
                background-color: transparent;
                color: grey;
                font-family: 'beckmanFree';
                cursor: pointer;
                position: relative;
                overflow: hidden;
                flex: 1;

                // Ajout du texte et de l'icône
                .button-text {
                  transition: opacity 0.3s ease;
                }

                .cart-icon {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%) scale(0);
                  opacity: 0;
                  transition: all 0.3s ease;
                  height: 50%;
                  width: auto;
                }

                &:hover {
                  .button-text {
                    opacity: 0;
                  }

                  .cart-icon {
                    transform: translate(-50%, -50%) scale(1);
                    opacity: 1;
                    border: none;
                  }
                }
              }

              .prix {
                font-size: 1.2rem;
                font-weight: bold;
              }

              .prix-new {
                text-decoration: line-through;
                font-size: 1rem;
              }
            }

            .new-prix {
              font-size: 1.2rem;
              right: 1rem;
              font-weight: bold;
            }
          }

          .topic-image {
            width: 60%;
            height: auto;
            border-radius: 8px;
            border: 1px dashed rgba(0, 0, 0, 0.167);
            object-fit: cover;

            @media only screen and (max-width: 650px) {
              width: 100%;
            }
          }

          &:hover {
            border-radius: 20px;
          }
        }
      }
    }
  }

  .inner-panel {
    position: absolute;
    z-index: 4;
    width: 20vw;
    height: 100vh;
    background-color: $cream;

    clip-path: polygon(54% 100%, 100% 0%, 0% 0%, 0% 100%);

    .rivals-logo {
      width: 30%;
      margin-left: 1rem;
      margin-top: 1rem;
    }

    .punchline-left {
      position: absolute;
      margin-left: -120px;
      margin-top: 25%;
      height: 40px;
      width: 300px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      transform: rotate(-90deg);

      h1 {
        font-size: 0.8rem;
        word-break: keep-all;
      }

      .line {
        width: 30px;
        height: 1px;
        background-color: var(--dark-1);
      }
    }

    .ashaks-container {
      height: 40vh;
      width: 80%;
      margin-top: 20vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 1rem;

      .qikaa-choice-button {
        height: 100px;
        width: 100px;
        box-shadow:
          -10px -10px 15px rgba(255, 255, 255, 0.5),
          10px 10px 15px rgba(70, 70, 70, 0.12);
        border-radius: 50%;
        border: 20px solid $cream;
        appearance: none;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .ashak-logo-container {
          height: 110%;
          width: 110%;
          background-color: var(--dark-1);
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          .inner-ashak-logo {
            height: 97%;
            width: 97%;
            background-color: $cream;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.2s;

            img {
              transition: 0.1s;
              transform: scale(0.2);
            }
          }
        }

        .ashak-logo-container:hover {
          transition: 0.2s;
          background: linear-gradient(
            -120deg,
            rgba(0, 0, 0, 0) 30%,
            rgba(0, 0, 0, 0.37) 70%,
            black 100%
          );

          .inner-ashak-logo {
            height: 90%;
            width: 90%;
            transition: 0.2s;
            -webkit-animation: rotatingReverse 1s linear infinite;
            -moz-animation: rotatingReverse 1s linear infinite;
            -ms-animation: rotatingReverse 1s linear infinite;
            -o-animation: rotatingReverse 1s linear infinite;
            animation: rotatingReverse 1s linear infinite;
          }

          -webkit-animation: rotating 1s linear infinite;
          -moz-animation: rotating 1s linear infinite;
          -ms-animation: rotating 1s linear infinite;
          -o-animation: rotating 1s linear infinite;
          animation: rotating 1s linear infinite;
        }

        .ashak-logo-container:active {
          .inner-ashak-logo {
            transition: 0.2s;
            height: 83%;
            width: 83%;

            img {
              transition: 0.1s;
              transform: scale(0.25);
            }
          }
        }
      }
    }
  }

  .right-panel {
    @media only screen and (max-width: 650px) {
      width: 20%;
    }
    right: 0;
    width: 10%;
    height: 100vh;

    .advertisement-wrapper {
      z-index: 10;
      position: absolute;
      left: 0;
      width: 80%;
      height: 100%;
      display: flex;
      align-items: center;
      gap: 1rem;
      .advertisement-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin-left: 10%;
        .advert {
          border-radius: 6px;
          background-color: rgba(0, 0, 0, 0.289);
          color: var(--cream) !important;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          padding: 1rem;
          cursor: pointer;
          transition: 0.2s;

          &:hover {
            background-color: rgba(255, 255, 255, 0.096);
          }

          h1 {
            background-image: radial-gradient(
              circle,
              var(--light-1) 30%,
              var(--light-3) 100%
            );
            background-clip: text;
            color: transparent;
          }
        }
      }
    }

    .qikaa-screaming {
      height: 100%;
      position: absolute;
      right: 0;
      opacity: 0.2;
    }

    .rivals-bottom-right-logo {
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      width: 30px;
      height: 30px;
    }

    .logo-unk {
      border-bottom-right-radius: 8px;
      border-top-left-radius: 8px;
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      width: 40px;
      height: 40px;
      border: 2px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 72%;
        height: 72%;
      }
    }

    .right-line {
      position: absolute;
      right: 1rem;
      margin-right: 15px;
      width: 1px;
      height: 80%;
      bottom: 10%;
      background-color: black;
      opacity: 0.4;
    }

    .bottom-line {
      @media only screen and (max-width: 650px) {
        right: 100%;
        width: 150%;
      }
      display: none;
      position: absolute;
      bottom: 1rem;
      margin-bottom: 15px;
      width: 80%;
      right: 10%;
      height: 1px;
      background-color: black;
      opacity: 0.4;
    }

    .medias-container {
      @media only screen and (max-width: 650px) {
        margin-right: 20px;
      }
      position: absolute;
      height: 50%;
      width: 50%;
      right: 1rem;
      margin-right: 40px;
      display: flex;
      top: 50%;
      transform: translate(0%, -50%);
      justify-content: flex-end;
      gap: 1.5rem;

      .names-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .name {
          height: 60px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          color: black;
        }
      }

      .logos-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        cursor: pointer;

        .logo {
          height: 60px;
          width: 60px;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            transform: scale(0.5);
            opacity: 0.5;
            transition: 0.2;
          }
        }

        .logo:hover {
          img {
            opacity: 1;
            transition: 0.2s;
            transform: scale(0.6);
          }
        }
      }
    }
  }

  .cache-panel {
    z-index: 3;
    position: absolute;
    left: 2vw;
    width: 30vw;
    height: 100vh;
    clip-path: polygon(54% 100%, 100% 0%, 0% 0%, 0% 100%);
  }

  .outer-panel {
    position: absolute;
    transform: translate(0%, -50%);
    top: 50%;
    width: 30vw;
    left: 20vw;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;

    .links {
      @media only screen and (max-width: 650px) {
        width: 100px;
        padding-inline-start: 1rem;
        padding-right: 1rem;
      }

      width: 100px;
      height: 40px;
      border: 1px solid $cream;
      padding-inline-start: 4rem;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 2rem;
      transition: 0.5s;
      cursor: pointer;

      a {
        font-family: 'beckmanFree';
        color: $cream;
      }
    }

    .links:hover {
      transition: 0.5s;
      background: linear-gradient(
        -50deg,
        var(--light-3) 30%,
        var(--light-1) 100%
      );
      border: none;
      height: 60px;

      a {
        color: var(--dark-1);
      }
    }
  }
}
.panier-wrapper {
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;

  .notification {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    h1 {
      font-size: 0.6rem;
      color: white;
    }
  }

  .panier-icon {
    opacity: 0.5;
    width: 100%;
    height: 100%;
    transition: 0.2s;
  }
  &:hover {
    transform: scale(1.1);
    .panier-icon {
      opacity: 1;
    }
  }
}
.panier-menu {
  position: absolute;
  z-index: 10;
  top: 0;
  right: -1rem;
  width: 100%;
  margin-top: 100px;
  background-color: var(--white);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  @media only screen and (max-width: 650px) {
    right: 0rem;
    margin-top: 40px;
    width: calc(100% - 4rem);
  }

  .arrow {
    position: absolute;
    top: -10px;
    right: 2rem;
    transform: translateX(50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--white);
    @media only screen and (max-width: 650px) { 
      right: 50%;
    }
  }

  .panier-items {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    .attention {
      font-size: 0.9rem;
      color: red;
      border: 1px solid red;
      padding: 0.5rem;
    }
    .panier-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .name-price {
        display: flex;
        gap: 0.5rem;
      }
      .quantity {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        .increment {
          border: none;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 20px;
          width: 20px;
          border-radius: 50%;
          background-color: grey;
          color: var(--cream);
        }
      }
    }
    .pay-button {
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 8px;
      height: 40px;
      border: 1px solid grey;
      background-color: transparent;
      color: grey;
      font-family: 'beckmanFree';
      cursor: pointer;
    }
  }
}