<div class="panel-container atmos">
  <div class="close" (click)="this.closePanel.emit()">
    <img src="../../../../assets/img/close_icon.png" alt="" />
  </div>
  <div class="inside">
    <div class="header">
      <div class="logo-wrapper">
        <img
          class="logo-unk"
          src="../../../../assets/img/logos/unk.png"
          alt="" />
      </div>
      <div class="header-text">
        <h1 class="boutique">Boutique</h1>
        <h1>Unkind Games.</h1>
        <p></p>
      </div>
    </div>
    <div class="inner-square">
      <div class="topics">
        @for (bloc of topics; track $index) {
          <div class="bloc">
            @for (topic of bloc.bloc; track $index; let i = $index) {
              <div
                (click)="goToBoutique(topic.url)"
                [ngClass]="'gradient-' + gradients[i % gradients.length]"
                class="topic flex-{{ topic.size }}">
                @if (topic.image) {
                  <img
                    src="../../../../assets/img/boutique/{{ topic.image }}"
                    alt="{{ topic.image }}" />
                }
                <div class="texte">
                  <h1>{{ topic.name }}</h1>
                  <p>{{ topic.description }}</p>
                  <p class="extra-info">{{ topic.extraInfo }}</p>
                  <p [ngClass]="{ 'prix-new': topic.newPrix }" class="prix">
                    {{ topic.prix }}
                  </p>
                  @if (topic.newPrix) {
                    <p class="new-prix">{{ topic.newPrix }}</p>
                  }
                </div>
              </div>
            }
          </div>
        }
      </div>
    </div>
  </div>

  <div class="inner-panel">
    
    @if (!isMobile) {
      <!-- <div class="ashaks-container">
        <div (click)="this.closePanel.emit()" class="qikaa-choice-button">
          <div class="ashak-logo-container">
            <div class="inner-ashak-logo">
              <img src="../../../../assets/img/close_icon.png" alt="" />
            </div>
          </div>
        </div>
      </div> -->
    }
  </div>
  <div class="cache-panel"></div>

  @if (!isMobile) {
    <div class="right-panel">
      <div class="logo-unk">
        <img src="../../../../assets/img/logos/unk.png" alt="" />
      </div>
      <div class="right-line"></div>
      <div class="bottom-line"></div>
      <div class="medias-container">
        <!-- <div class="names-container">
        @for (media of medias; track media) {
          <div class="name">
            @if (media.show) {
              <h1 @slideInRight>{{ media.name }}</h1>
            }
          </div>
        }
      </div> -->
        <div class="logos-container">
          @for (media of medias; track media) {
            <div
              (click)="goToMedia(media.url)"
              (mouseenter)="media.show = true"
              (mouseleave)="media.show = false"
              class="logo">
              <img
                src="../../../../assets/img/logos/{{ media.name }}-light.png"
                alt="" />
            </div>
          }
        </div>
      </div>
    </div>
  }
</div>
