@import '../../../styles/colors.scss';
@import '../../../styles/themes.scss';


app-ashak-choice {
    position: fixed;
    z-index: 20;
}

.panel-container {
    width: 100vw;
    height: 100vh;

    @media only screen and (max-width: 650px) {
        .close-button {
            position: absolute;
            top: 1rem;
            left: 1rem;
            width: 20px;
            height: 20px;
        }
    }

    .inner-panel {
        position: absolute;
        z-index: 4;
        width: 30vw;
        height: 100vh;
        background-color: $cream;
        clip-path: polygon(54% 100%, 100% 0%, 0% 0%, 0% 100%);

        .rivals-logo {
            width: 30%;
            margin-left: 1rem;
            margin-top: 1rem;
        }

        .punchline-left {
            position: absolute;
            margin-left: -120px;
            margin-top: 25%;
            height: 40px;
            width: 300px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            transform: rotate(-90deg);

            h1 {
                font-size: 0.8rem;
                word-break: keep-all;
            }

            .line {
                width: 30px;
                height: 1px;
                background-color: var(--dark-1);
            }
        }

        .ashaks-container {
            height: 40vh;
            width: 80%;
            margin-top: 20vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 1rem;

            .qikaa-choice-button {
                height: 100px;
                width: 100px;
                box-shadow:
                    -10px -10px 15px rgba(255, 255, 255, 0.5),
                    10px 10px 15px rgba(70, 70, 70, 0.12);
                border-radius: 50%;
                border: 20px solid $cream;
                -webkit-appearance: none;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                .ashak-logo-container {
                    height: 110%;
                    width: 110%;
                    background-color: var(--dark-1);
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .inner-ashak-logo {
                        height: 97%;
                        width: 97%;
                        background-color: $cream;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: 0.2s;

                        img {
                            transition: 0.1s;
                            transform: scale(0.2);
                        }
                    }

                }

                .ashak-logo-container:hover {
                    transition: 0.2s;
                    background: linear-gradient(-120deg, var(--light-1) 30%, var(--light-3) 70%, var(--dark-1) 100%);

                    .inner-ashak-logo {
                        height: 90%;
                        width: 90%;
                        transition: 0.2s;
                        -webkit-animation: rotatingReverse 1s linear infinite;
                        -moz-animation: rotatingReverse 1s linear infinite;
                        -ms-animation: rotatingReverse 1s linear infinite;
                        -o-animation: rotatingReverse 1s linear infinite;
                        animation: rotatingReverse 1s linear infinite;
                    }

                    -webkit-animation: rotating 1s linear infinite;
                    -moz-animation: rotating 1s linear infinite;
                    -ms-animation: rotating 1s linear infinite;
                    -o-animation: rotating 1s linear infinite;
                    animation: rotating 1s linear infinite;
                }

                .ashak-logo-container:active {
                    .inner-ashak-logo {
                        transition: 0.2s;
                        height: 83%;
                        width: 83%;

                        img {
                            transition: 0.1s;
                            transform: scale(0.25);
                        }
                    }
                }
            }
        }
    }

    .right-panel {
        @media only screen and (max-width: 650px) {
            width: 20%;
        }

        position: absolute;
        top: 0;
        z-index: 14;
        right: 0;
        width: 50%;
        height: 100vh;

        .qikaa-screaming {
            height: 100%;
            position: absolute;
            right: 0;
            opacity: 0.2;
        }

        .rivals-bottom-right-logo {
            position: absolute;
            right: 1rem;
            bottom: 1rem;
            width: 30px;
            height: 30px;
        }

        .right-line {
            position: absolute;
            right: 1rem;
            margin-right: 15px;
            width: 1px;
            height: 80%;
            bottom: 10%;
            background: linear-gradient(-120deg, var(--light-1) 30%, var(--light-3) 100%);
            opacity: 0.4;
        }

        .bottom-line {
            @media only screen and (max-width: 650px) {
                right: 100%;
                width: 150%;
            }

            position: absolute;
            bottom: 1rem;
            margin-bottom: 15px;
            width: 80%;
            right: 10%;
            height: 1px;
            background: linear-gradient(-120deg, var(--light-1) 30%, var(--light-3) 100%);
            opacity: 0.4;
        }

        .medias-container {
            @media only screen and (max-width: 650px) {
                margin-right: 20px;
            }
            position: absolute;
            height: 50%;
            width: 50%;
            right: 1rem;
            margin-right: 40px;
            display: flex;
            top: 50%;
            transform: translate(0%, -50%);
            justify-content: flex-end;
            gap: 1.5rem;

            .names-container {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                .name {
                    height: 60px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    color: $cream;
                }
            }

            .logos-container {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                cursor: pointer;

                .logo {
                    height: 60px;
                    width: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        transform: scale(0.5);
                        opacity: 0.5;
                        transition: 0.2;
                    }
                }

                .logo:hover {
                    img {
                        opacity: 1;
                        transition: 0.2s;
                        transform: scale(0.6);
                    }
                }
            }
        }
    }

    .cache-panel {
        z-index: 3;
        position: absolute;
        left: 2vw;
        width: 30vw;
        height: 100vh;
        background-color: var(--dark-1);
        clip-path: polygon(54% 100%, 100% 0%, 0% 0%, 0% 100%);
    }

    .outer-panel {
        z-index: 2;
        position: absolute;
        transform: translate(0%, -50%);
        top: 50%;
        width: 30vw;
        left: 20vw;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3vh;

        .links {
            @media only screen and (max-width: 650px) {
                width: 100px;
                padding-inline-start: 1rem;
                padding-right: 1rem;
            }

            width: 100px;
            height: 40px;
            border: 1px solid $cream;
            padding-inline-start: 4rem;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-right: 2rem;
            transition: 0.5s;
            cursor: pointer;

            a {
                font-family: 'beckmanFree';
                color: $cream;
            }
        }

        .links:hover {
            transition: 0.5s;
            background: linear-gradient(-50deg, var(--light-3) 30%, var(--light-1) 100%);
            border: none;
            height: 60px;

            a {
                color: var(--dark-1);
            }
        }
    }
}