<div class="wrapper qikaa">
  @if (!(isMobile$ | async)) {
    <div class="line"></div>
    <div
      class="icon-container"
      [style.transform]="'rotate(' + rotationDegree + 'deg)'">
      <img
        [style.transform]="'rotate(-' + rotationDegree + 'deg)'"
        class="line-icon"
        src="../../../../assets/img/rivals-logo-mini.png"
        alt="" />
    </div>

    <div class="line2"></div>
  }
  <div class="filter-container">
    @for (filter of filters; track filter.id) {
      <label class="checkbox">
        <input
          [checked]="filter.checked"
          type="checkbox"
          (change)="filterChanges(filter.id)" />
        {{ filter.id }}
      </label>
    }
  </div>
  <div class="cards-container">
    @for (card of fetchedCards$ | async; track card) {
      @if (checkType(card.type)) {
        <app-story-card
          id="{{ card.id }}"
          (click)="
            card.type !== 'videos'
              ? onCardClick(card)
              : openModal(videoModal, card.id)
          "
          class="story-card"
          [ngClass]="{ main: card.id === 0 }"
          [card]="card"
          [isMobile]="isMobile$ | async"></app-story-card>
      }
    }
  </div>
</div>

<ng-template #videoModal>
  <app-video-modal></app-video-modal>
</ng-template>
<app-footer></app-footer>
