@import '../styles/colors.scss';
@import '../styles/themes.scss';

.nav-bar {
    top: 45px;
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: var(--dark-1);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 1rem;
    z-index: 4;

    .nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 2vw;

        .button {
            cursor: pointer;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 0.2rem;
            padding-bottom: 0.2rem;
            border-radius: 4px;

            h1 {
                color: $cream;
                opacity: 0.5;
                font-size: 1rem;
            }
        }

        .button:hover {
            background-color: var(--dark-2);

            h1 {
                opacity: 1;
            }
        }

        .ashak {
            background: linear-gradient(-120deg, var(--light-1) 30%, var(--light-3) 100%);
            h1 {
                color: $dark-1;
                opacity: 1;
            }
        }
        
    }
}