<div class="nav-bar {{ theme$ | async }}">
  @if (!(isMobile$ | async)) {
    <div class="nav">
      @for (ashak of ashaks; track ashak) {
        <a
          routerLink="{{ ashak }}"
          class="button {{
            (selectedAshak$ | async) === ashak ? ashak + ' ashak' : ''
          }}">
          <h1>{{ ashak }}</h1>
        </a>
      }
    </div>
  }
  @if (isMobile$ | async) {
    <button (click)="openOptions()" class="ashak-select" id="">
      @if (selectedAshak$ | async; as selectedAshak) {
        {{
          ashaks.includes(selectedAshak)
            ? selectedAshak
            : ('ashaks.choose' | translate)
        }}
      }
      <img
        [ngClass]="{ rotate: showOptions }"
        src="../../assets/img/logos/drop-down.png"
        alt="" />
    </button>
    @if (showOptions) {
      <div class="options">
        @for (ashak of ashaks; track ashak) {
          <a (click)="showOptions = false" routerLink="{{ ashak }}"
            ><h1>{{ ashak }}</h1></a
          >
        }
      </div>
    }
  }
</div>
<router-outlet></router-outlet>
