<div class="card qikaa">
  <div class="inside">
    <img
      ngSrc="../../../../../../assets/img/lore/{{ card.img }}.jpg"
      width="700"
      height="424"
      priority="true"
      class="image" />
    <div class="footer">
      <div class="text">
        <h2>{{ card.type }}</h2>
        <h1 [innerHTML]="card.title | translate"></h1>
        @if (!isMobile) {
          <p>{{ card.description | translate }}</p>
        }
        @if (isMobile) {
          <p>{{ card.description | translate | truncate: 30 }}</p>
        }
      </div>
    </div>
  </div>
</div>
