@import '../../../styles/themes.scss';
@import '../../../styles/colors.scss';

.battleroyale-container {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    #b3b39e 0%,
    rgba(255, 249, 241, 1) 50%,
    $white 100%
  );
  z-index: 1;

  @media only screen and (max-width: 650px) {
    overflow: hidden;

    .flex-container {
      position: absolute;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .descriptif-container {
        border-top: 1px solid #35243725;
        display: flex;
        text-align: center;
        margin-top: 2rem;
        padding-top: 1rem;
        padding-bottom: 2rem;
        width: 80%;
        // padding: 3rem;
      }

      .game {
        width: 100%;
        img {
          width: 100%;
        }
      }

      .game-animation {
        width: 100%;
      }
    }

    .m-end-container {
      height: 100vh;
      width: 100%;
      background-color: red;
    }

    .title-container {
      padding-left: 7vw;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-top: 6vh;

      h1 {
        line-height: 2.8rem;
        font-size: 3.5rem;
        color: var(--dark-1);
      }

      .m-royale {
        // color: var(--light-1);
        // background-image: radial-gradient(var(--light-1), var(--light-3));
        // -webkit-background-clip: text;
        // background-clip: text;
        // color: transparent;
        color: $white;
      }
    }

    .tiles-container {
      z-index: 20;
      width: 100%;
      height: 30vh;
    }

    .tiles-absolute {
      position: absolute;
    }

    .tiles-fixed {
      position: fixed !important;
      bottom: 0;
    }
  }
}

.jeu-button {
  z-index: 5;
}

.left-line {
  position: absolute;
  left: 50px;
  height: 400px;
  width: 1px;
  z-index: 2;
  background-color: var(--dark-1);
}

.left-line-top {
  position: absolute;
  margin-top: -300px;
  left: 50px;
  height: 50%;
  width: 1px;
  background-color: var(--light-1);
  z-index: 0;
  opacity: 0.4;
}

.battleroyale-title {
  position: absolute;
  color: $cream;
  font-size: 5rem;
  margin-top: -100px;
  left: 60px;
}

.ashak-token {
  position: absolute;
  margin-top: 60px;
  transition: 0.2s;
  width: 6vw;
  height: 6vw;
  background-color: var(--dark-1);
  border-radius: 50%;
  z-index: 8;
  box-shadow:
    rgba(0, 0, 0, 0.29) 0px 2px 1px,
    rgba(0, 0, 0, 0.29) 0px 4px 2px,
    rgba(0, 0, 0, 0.29) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  cursor: grab;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

  @media only screen and (max-width: 650px) {
    width: 13%;
    transition: none;
    margin-top: -90px;
    left: 44%;
  }

  img {
    width: 90%;
    border-radius: 50%;
  }
}

.ashak-token:active {
  cursor: grabbing;
}

.rotating {
  background: linear-gradient(
    90deg,
    rgba(53, 36, 55, 1) 43%,
    rgba(255, 94, 98, 1) 86%,
    rgba(255, 214, 94, 1) 100%
  );
  -webkit-animation: rotating 3s linear infinite;
  -moz-animation: rotating 3s linear infinite;
  -ms-animation: rotating 3s linear infinite;
  -o-animation: rotating 3s linear infinite;
  animation: rotating 3s linear infinite;
}

.rotatingReverse {
  -webkit-animation: rotatingReverse 3s linear infinite;
  -moz-animation: rotatingReverse 3s linear infinite;
  -ms-animation: rotatingReverse 3s linear infinite;
  -o-animation: rotatingReverse 3s linear infinite;
  animation: rotatingReverse 3s linear infinite;
}

.text-container {
  position: absolute;
  left: 80px;
  width: 40%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.tile {
  cursor: pointer;
  position: absolute;
  margin-top: 10%;
  right: 0;
  width: 15%;
  z-index: 2;

  @media only screen and (max-width: 650px) {
    width: 33.33%;
  }

  .inner-tile {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;

    .back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }

    .front {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      transform: rotateY(180deg);
    }

    img {
      position: absolute;
      width: 100%;
      transition: 0.2s;
    }
  }
}

.rotated {
  transform: rotate(60deg);
}

.fixed {
  position: fixed !important;
  top: 300px;
}

.absolute {
  position: absolute !important;
  margin-top: 860px;
}

.vanish {
  opacity: 0;
  transition: 0.2s;
}

.flip-tile {
  transform: rotateY(180deg);
}

.on-top {
  z-index: 5;
}

.fusio-magnum {
  position: absolute;
  margin-top: 30px;
  width: 40%;
  z-index: 4;

  @media only screen and (max-width: 650px) {
    width: 70%;
    margin-top: -20vh;
    z-index: 6;
  }
}

.background-image {
  position: absolute;
  margin-top: 200px;
  width: 100%;
  z-index: 1;

  .end-container {
    position: absolute;
    width: 100%;
    height: 60vh;
    margin-top: 46vh;
    z-index: 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10rem;

    .ashaks-container {
      margin-top: 40vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 3rem;

      h1 {
        max-width: 40%;
      }

      p {
        max-width: 38%;
      }

      .button-container {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }
    }

    h1 {
      color: $white;
      font-size: 6rem;
      line-height: 4.5rem;
      transition: 0.5s;

      small {
        font-size: 2rem;
      }
    }

    p {
      transition: 0.5s;
      width: 35%;
      color: $white;
    }

    .gyaleis {
      position: absolute;
      width: 30%;
      right: 20%;
      margin-top: 50vh;
    }

    .drone-animate {
      animation: circularAnimationShort 2s linear infinite;
    }

    .grenade-container {
      position: absolute;
      width: 6%;
      right: 30%;
      margin-top: 50vh;
      display: flex;
      justify-content: center;
      align-items: center;
      animation: circularAnimation 6s linear infinite;
      .grenade {
        width: 100%;
        -webkit-animation: rotating 2s linear infinite;
        -moz-animation: rotating 2s linear infinite;
        -ms-animation: rotating 2s linear infinite;
        -o-animation: rotating 2s linear infinite;
        animation: rotating 2s linear infinite;
      }
    }
  }

  .rise {
    h1,
    p {
      color: var(--dark-1);
    }
  }

  .background {
    position: absolute;
    width: 100%;
    z-index: 8;
  }

  .background-2 {
    position: absolute;
    width: 100%;
    z-index: 6;
  }

  .sun {
    position: absolute;
    margin-top: 110px;
    width: 100%;
    z-index: 3;
  }

  .fixed {
    position: fixed;
    top: 150px;
  }
}
