<div class="container qikaa">
  <div class="footer {{ ashak$ | async }}">
    <div class="socials">
      @for (social of socials; track social) {
        <a href="{{ social.url }}" target="_blank" class="social">
          <img
            src="../../../../assets/img/logos/{{ social.name }}-dark.png"
            alt="" />
        </a>
      }
    </div>
    <div class="founders-section">
      <h2>{{ 'footer.co.founders' | translate }}</h2>
      <div class="founders-grid">
        <a href="https://www.linkedin.com/in/baptiste-roux-dev/" target="_blank" class="founder-card">
          <img
            src="../../../../assets/img/footer/baptiste.jpg"
            alt="Co-fondateur 1"
            class="founder-image" />
          <h3>Baptiste Roux</h3>
          <p class="founder-role">{{ 'footer.baptiste.title' | translate }}</p>
          <p class="founder-desc">
            {{ 'footer.baptiste.description' | translate }}
          </p>
        </a>
        <div class="founder-card">
          <img
            src="../../../../assets/img/footer/maxime.jpeg"
            alt="Co-fondateur 2"
            class="founder-image" />
          <h3>Maxime Schio</h3>
          <p class="founder-role">
            {{ 'footer.maxime.title' | translate }}
          </p>
          <p class="founder-desc">
            {{ 'footer.maxime.description' | translate }}
          </p>
        </div>
        <a href="https://www.linkedin.com/in/sami-jaafar-book/" target="_blank" class="founder-card">
          <img
            src="../../../../assets/img/footer/sami.jpeg"
            alt="Co-fondateur 3"
            class="founder-image" />
          <h3>Sami Jaafar</h3>
          <p class="founder-role">{{ 'footer.Sami.title' | translate }}</p>
          <p class="founder-desc">
            {{ 'footer.Sami.description' | translate }}
          </p>
        </a>
      </div>
    </div>
    <div class="connect-section">
      <div class="spotify-section">
        <h2>{{ 'footer.playlist' | translate }}</h2>
        <iframe
          src="https://open.spotify.com/embed/playlist/4RrtnXw4PFFJaP0vSSUtXC?utm_source=generator"
          height="352"
          frameBorder="0"
          allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          loading="lazy">
        </iframe>
      </div>

      <div class="discord-section">
        <h2>{{ 'footer.discord.title' | translate }}</h2>
        <div class="discord-content">
          <p>{{ 'footer.discord.descr' | translate }}</p>
          <a href="https://discord.com/invite/TaNkhRuBzS" target="_blank" class="discord-button">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
              <path
                d="M19.27 5.33C17.94 4.71 16.5 4.26 15 4a.09.09 0 0 0-.07.03c-.18.33-.39.76-.53 1.09a16.09 16.09 0 0 0-4.8 0c-.14-.34-.35-.76-.54-1.09c-.01-.02-.04-.03-.07-.03c-1.5.26-2.93.71-4.27 1.33c-.01 0-.02.01-.03.02c-2.72 4.07-3.47 8.03-3.1 11.95c0 .02.01.04.03.05c1.8 1.32 3.53 2.12 5.24 2.65c.03.01.06 0 .07-.02c.4-.55.76-1.13 1.07-1.74c.02-.04 0-.08-.04-.09c-.57-.22-1.11-.48-1.64-.78c-.04-.02-.04-.08-.01-.11c.11-.08.22-.17.33-.25c.02-.02.05-.02.07-.01c3.44 1.57 7.15 1.57 10.55 0c.02-.01.05-.01.07.01c.11.09.22.17.33.26c.04.03.04.09-.01.11c-.52.31-1.07.56-1.64.78c-.04.01-.05.06-.04.09c.32.61.68 1.19 1.07 1.74c.03.01.06.02.09.01c1.72-.53 3.45-1.33 5.25-2.65c.02-.01.03-.03.03-.05c.44-4.53-.73-8.46-3.1-11.95c-.01-.01-.02-.02-.04-.02zM8.52 14.91c-1.03 0-1.89-.95-1.89-2.12s.84-2.12 1.89-2.12c1.06 0 1.9.96 1.89 2.12c0 1.17-.84 2.12-1.89 2.12zm6.97 0c-1.03 0-1.89-.95-1.89-2.12s.84-2.12 1.89-2.12c1.06 0 1.9.96 1.89 2.12c0 1.17-.83 2.12-1.89 2.12z" />
            </svg>
            {{ 'footer.discord.button' | translate }}
          </a>
        </div>
      </div>
    </div>
    <h1 class="copyright">
      © 2022 Unkind Games, RIVALS
      <small>{{ 'all.marques.deposees' | translate }}</small>
    </h1>
    <a href="#/ug" target="_blank">
      <img
        class="unkind"
        src="../../../../assets/img/logo_unkind_white.png"
        alt="" />
    </a>
    <div class="liens">
      <a routerLink="/mentions-legales">Mentions légales &nbsp; | &nbsp;</a>
      <a routerLink="/contact">contact &nbsp; | &nbsp;</a>
      <a routerLink="/presse">presse &nbsp; | &nbsp;</a>
      <a href="https://www.madistrib.com/" target="_blank">distribution</a>
    </div>
  </div>
</div>
