<div class="container qikaa">
  <!-- <div class="upper-footer">
    <a
      href="https://www.kickstarter.com/projects/unkind-games/rivals"
      target="_blank"
      class="kickstarter"
    >
      <h1>{{ 'all.sortie' | translate }}</h1>
      <img src="../../../../assets/img/logos/ks-full-logo.png" alt="" />
      <p>{{ 'all.inscription' | translate }}</p>
    </a>
  </div> -->
  <div class="footer {{ ashak$ | async }}">
    <div class="socials">
      <a
        href="{{ social.url }}"
        target="_blank"
        *ngFor="let social of socials"
        class="social"
      >
        <img
          src="../../../../assets/img/logos/{{
            social.name
          }}-logo-round-white.png"
          alt=""
        />
      </a>
    </div>
    <h1 class="copyright">
      © 2022 Unkind Games, RIVALS
      <small>{{ 'all.marques.deposees' | translate}}</small>
    </h1>
    <a href="#/ug" target="_blank">
      <img
        class="unkind"
        src="../../../../assets/img/logo_unkind_white.png"
        alt=""
      />
    </a>
  </div>
</div>
