@font-face {
    font-family: 'beckmanfree';
    src: url('./assets/fonts/beckman-free-webfont.woff2') format('woff2'), url('./assets/fonts/beckman-free-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'triakis';
    src: url('./assets/fonts/triakisfont-regular-webfont.woff2') format('woff2'), url('./assets/fonts/triakisfont-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'affigere';
    src: url('./assets/fonts/affigere-regular-webfont.woff2') format('woff2'), url('./assets/fonts/affigere-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neue';
    src: url('./assets/fonts/bebasneue-regular-webfont.woff2') format('woff2'), url('./assets/fonts/bebasneue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_kai';
    src: url('./assets/fonts/bebaskai-webfont.woff2') format('woff2'), url('./assets/fonts/bebaskai-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import './app/styles/utils.scss';
@import './app/styles/colors.scss';
@import './app/styles/themes.scss';



body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

h1 {
    font-family: 'beckmanfree';
    font-size: 1.3rem;
} 

h2 {
    font-family: 'bebas_neue';
}

p {
    font-family: "Maven pro";
    font-weight: 500;
}


@keyframes animated_text {
    0% {
        background-position: 0px 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0px 50%;
    }
}

@keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes opacityGlow {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
  }