<div
  [ngClass]="{ 'detailed-card': isSelected, zoomed: isZoomed }"
  class="card-container qikaa">
  <div
    (mousemove)="onMouseMove($event)"
    (mouseleave)="onMouseLeave()"
    [style]="{
      transform: 'rotateY(' + xAxis + 'deg) rotateX(' + yAxis + 'deg)'
    }"
    [ngClass]="{ focus: showGlare }"
    #carte
    class="card">
    @if (showGlare) {
      <div
        @fadeInOutFast
        class="glare"
        [style]="{
          'background-image':
            'radial-gradient(circle at ' +
            glareX +
            '%' +
            glareY +
            '%, hsla(0, 0%, 100%, 0.8) 10%, hsla(0, 0%, 100%, 0.65) 20%, hsla(0, 0%, 0%, 0.5) 90% )'
        }"></div>
    }
    <div
      [style]="{
        color:
          card.isDark || card.type === 'ashak' || card.type === 'tactique'
            ? 'var(--white)'
            : 'var(--dark-1)'
      }"
      class="card-range-cost">
      <div class="cost-container">
        <h1 class="cost">{{ card.cost !== null ? card.cost : '' }}</h1>
      </div>
      @if (card.range) {
        <div class="range-container">
          <h1>{{ card.range[0] }}</h1>
          <h1>-</h1>
          <h1>{{ card.range[1] }}</h1>
        </div>
      }
    </div>
    @if (card.damage) {
      <div
        [style]="{ color: card.isDark ? 'var(--white)' : 'var(--dark-1)' }"
        class="damage">
        <h1>{{ card.damage }}</h1>
      </div>
    }
    @if (card.salve) {
      <div
        [style]="{ color: card.isDark ? 'var(--white)' : 'var(--dark-1)' }"
        class="salve">
        <h1>{{ card.salve }}</h1>
      </div>
    }
    <img
      class="card-image"
      src="../../../../../assets/img/cards/interface/{{ card.id }}.png"
      alt="card image" />
    <div
      [style]="{ color: card.isDark ? 'var(--white)' : 'var(--dark-1)' }"
      class="card-description">
      <h1>{{ usedLanguage === 'fr' ? card.name_fr : card.name_en }}</h1>
      <div
        [ngClass]="{ 'is-mentale': card.subtype === 'mentale' }"
        class="description-wrapper">
        <div class="description">
          @for (
            word of arrayFromText(
              usedLanguage === 'fr' ? card.text_fr : card.text_en
            );
            track $index
          ) {
            @if (!(word.startsWith('_') && word.endsWith('_'))) {
              <p>{{ word + ' ' }}</p>
            } @else {
              <img
                class="icon"
                src="{{
                  'assets/img/cards/interface/icones/' +
                    getPath(word) +
                    (card.isDark ? '_dark' : '_light') +
                    '.png'
                }}"
                alt="{{ getPath(word) }}" />
            }
          }
        </div>
      </div>
      @if (card.subtype === 'mentale') {
        <div class="mentale-bonus">
          @for (word of arrayFromText(card.bonus); track $index) {
            @if (!(word.startsWith('_') && word.endsWith('_'))) {
              <p>{{ word + ' ' }}</p>
            } @else {
              <img
                class="icon"
                src="{{
                  'assets/img/cards/interface/icones/' +
                    getPath(word) +
                    '_dark.png'
                }}"
                alt="{{ getPath(word) }}" />
            }
          }
        </div>
      }
    </div>
  </div>
</div>
