@import "../../../styles/themes.scss";
@import "../../../styles/colors.scss";

.translate {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;

    .active-language {
        opacity: 1;
        color: var(--light-1);
        background-color: var(--dark-1);
        border-radius: 4px;
    }

    h1 {
        font-size: 0.8rem;
        color: var(--dark-1);
        padding: 3px;
        cursor: pointer;

        &:hover {
            outline: 1px solid var(--dark-1);
        }
    }

    .divider {
        background-color: var(--dark-1);
        width: 1px;
        height: 15px;
        opacity: 0.6;
    }
}