<!-- <app-loader (closeLoader)="onReturnFromLoader()" *ngIf="loading"></app-loader> -->
<section #accueil class="section1">
  <app-landing
    [isMobile]="isMobile$ | async"
    [ashak]="ashak$ | async"
  ></app-landing>
</section>

<!-- SECTION 2 -->
<section class="section2 {{ ashak$ | async }}">
  <!-- MOBILE -->
  <ng-container *ngIf="isMobile$ | async">
    <div class="left-bar"></div>
    <div width [factor]="1" [originalWidth]="20" class="perpendicular"></div>
    <h1 horizontalParallax [factorX]="1" class="news">
      {{ "home.actu.title" | translate | uppercase }}
    </h1>
    <div class="left-cache"></div>
    <div class="right-cache"></div>
    <div class="actus-container">
      <div *ngFor="let actu of actus; let i = index" class="actu">
        <div class="top">
          <a
            href="{{ actu.url }}"
            target="_blank"
            [ngClass]="i === 0 ? 'img-left' : 'img-container'"
          >
            <img
              *ngIf="actuIsHover !== actu.id"
              src="../../assets/img/actus/{{ actu.id }}.png"
              alt=""
            />
          </a>
        </div>
        <div class="bottom">
          <div class="date-container">
            <p class="date">{{ actu.date | translate }}</p>
            <div class="line"></div>
          </div>
          <h1 [ngClass]="actuIsHover === actu.id ? 'main-title' : ''">
            {{ actu.name | translate }}
          </h1>
          <p>{{ actu.descriptif | translate }}</p>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- DESKTOP -->
  <ng-container *ngIf="!(isMobile$ | async)">
    <div width [factor]="2" [originalWidth]="200" class="perpendicular"></div>
    <h1 horizontalParallax [factorX]="2" class="news">
      {{ "home.actu.title" | translate | uppercase }}
    </h1>
    <div class="left-bar"></div>
    <div class="square"></div>
    <div opacity [factor]="0.25" class="actus-container">
      <div
        horizontalParallax
        [factorX]="actu.factor"
        *ngFor="let actu of actus; let i = index"
        class="actu"
      >
        <div class="top">
          <a
            *ngIf="actu.id !== 'trailer'"
            href="{{ actu.url }}"
            target="_blank"
            [ngClass]="i === 0 ? 'img-left' : 'img-container'"
          >
            <img
              *ngIf="actuIsHover !== actu.id"
              src="../../assets/img/actus/{{ actu.id }}.png"
              alt=""
            />
          </a>
          <a
            (click)="openModal(videoModal, 0)"
            *ngIf="actu.id === 'trailer'"
            [ngClass]="i === 0 ? 'img-left' : 'img-container'"
          >
            <img
              *ngIf="actuIsHover !== actu.id"
              src="../../assets/img/actus/{{ actu.id }}.png"
              alt=""
            />
          </a>
        </div>
        <div class="bottom">
          <div class="date-container">
            <p class="date">{{ actu.date | translate }}</p>
            <div class="line"></div>
          </div>
          <h1 [ngClass]="actuIsHover === actu.id ? 'main-title' : ''">
            {{ actu.name | translate }}
          </h1>
          <p>{{ actu.descriptif | translate }}</p>
        </div>
      </div>
    </div>
    <ng-template #videoModal>
      <app-video-modal></app-video-modal>
    </ng-template>
  </ng-container>
</section>
<section #histoire class="section3">
  <app-description
    [isMobile]="isMobile$ | async"
    [ashak]="ashak$ | async"
  ></app-description>
</section>
<section class="section4">
  <app-cards-section
    [isMobile]="isMobile$ | async"
    [ashak]="ashak$ | async"
  ></app-cards-section>
</section>
<section #ashaks class="section5">
  <app-battleroyale
    [isMobile]="isMobile$ | async"
    [ashak]="ashak$ | async"
  ></app-battleroyale>
</section>
<section class="section6" *ngIf="isMobile$ | async">
  <app-univers></app-univers>
</section>
<app-footer></app-footer>
