@let mobile = isMobile$ | async;
@let ashak = ashak$ | async;

<section #accueil class="section1">
  <app-landing [isMobile]="mobile" [ashak]="ashak"></app-landing>
</section>

<!-- SECTION 2 -->
<section class="section2 {{ ashak }}">
  <!-- MOBILE -->
  @if (mobile) {
    <div class="actus-mobile">
      <div class="header">
        <h1>{{ 'home.actu.title' | translate | uppercase }}</h1>
        <div class="go-to-actus">
          <h1>{{ 'home.actu.see.all' | translate | uppercase }}</h1>
          <h1 class="fleche">>></h1>
        </div>
      </div>
      <div
        class="center-actu"
        [@slideAnimation]="step"
        (click)="$event.preventDefault()"
        (touchstart)="onTouchStart($event)"
        (touchmove)="onTouchMove($event)"
        (touchend)="onTouchEnd($event)">
        <div class="square-actu">
          <img src="../../assets/img/actus/{{ actus[step].id }}.png" alt="" />
        </div>
        <div class="text-actu">
          <div class="header-actu">
            <h1 class="boutique">{{ actus[step].type | translate }}</h1>
            <h1 class="date">// {{ actus[step].date | translate }}</h1>
          </div>
          <h3>{{ actus[step].name | translate }}</h3>
          <p>
            {{ actus[step].descriptif | translate }}
          </p>
        </div>
      </div>

      <div class="boutons-next">
        <div class="steps-wrapper">
          @for (actu of actus; track $index) {
            <div
              (click)="setStep($index)"
              [ngClass]="{ active: step === $index }"
              class="step"></div>
          }
        </div>
        <div class="buttons-wrapper">
          <button
            [ngClass]="{ 'less-opacity': step === 0 }"
            (click)="previousStep()">
            {{ '<<' }}
          </button>
          <button
            [ngClass]="{ 'less-opacity': step === actus.length - 1 }"
            (click)="nextStep()">
            >>
          </button>
        </div>
      </div>
    </div>
  } @else {
    <!-- DESKTOP -->
    <div width [factor]="2" [originalWidth]="200" class="perpendicular"></div>
    <h1 horizontalParallax [factorX]="2" class="news">
      {{ 'home.actu.title' | translate | uppercase }}
    </h1>
    <div class="left-bar"></div>
    <div class="square"></div>
    <div opacity [factor]="0.25" class="actus-container">
      @for (actu of actus; track $index) {
        <div horizontalParallax [factorX]="actu.factor" class="actu">
          <div class="top">
            @if (!actu.boutique) {
              <a
                [attr.data-testid]="'actu-' + $index"
                href="{{ actu.url }}"
                target="_blank"
                [ngClass]="$index === 0 ? 'img-left' : 'img-container'">
                <img src="../../assets/img/actus/{{ actu.id }}.png" alt="" />
              </a>
            } @else {
              <div
                (click)="goToBoutique()"
                [attr.data-testid]="'actu-' + $index"
                [ngClass]="$index === 0 ? 'img-left' : 'img-container'">
                <img src="../../assets/img/actus/{{ actu.id }}.png" alt="" />
              </div>
            }
          </div>
          <div class="bottom">
            <div class="date-container">
              <p class="date">{{ actu.date | translate }}</p>
              <div class="line"></div>
            </div>
            <h1 [ngClass]="actuIsHover === actu.id ? 'main-title' : ''">
              {{ actu.name | translate }}
            </h1>
            <p>{{ actu.descriptif | translate }}</p>
          </div>
        </div>
      }
    </div>
    <ng-template #videoModal>
      <app-video-modal></app-video-modal>
    </ng-template>
  }
</section>
<section #histoire class="section3">
  <app-description [isMobile]="mobile" [ashak]="ashak"></app-description>
</section>
<section class="section4">
  <app-deckbuild [isMobile]="mobile"></app-deckbuild>
</section>
<section class="section5">
  <app-home-lore></app-home-lore>
</section>
<section class="section6">
  <app-battle [isMobile]="mobile"></app-battle>
  @if (mobile) {
    <div class="battle-mobile">
      <h1>
        {{ 'home.battle.title' | translate }}
      </h1>
      <div class="badges-container">
        @for (badge of badges; track badge.id) {
          <div class="badge">
            <div class="img-container">
              <img [src]="badge.image" [alt]="badge.name" />
            </div>
            <p>{{ badge.name | translate }}</p>
          </div>
        }
      </div>
    </div>
    <div class="image-boardgame">
      <img src="../../assets/img/backgrounds/fullGame.png" alt="" />
    </div>
  }
</section>
<section class="section7"></section>

<section class="section9">
  @if (!mobile) {
    <app-ashaks></app-ashaks>
  } @else {
    <app-ashaks-mobile></app-ashaks-mobile>
  }
</section>
<section class="section8">
  <app-lore-2 [isMobile]="mobile"></app-lore-2>
</section>

<!-- <section #ashaks class="section5">
  <app-battleroyale
    [isMobile]="isMobile$ | async"
    [ashak]="ashak$ | async"></app-battleroyale>
</section>
@if (isMobile$ | async) {
  <section class="section6">
    <app-univers></app-univers>
  </section>
} -->
<!-- <div class="section6"></div> -->
<app-footer></app-footer>
