<div class="battle-container qikaa">
  <div class="top-cream"></div>
  <div class="right-line"></div>
  <img
    class="battle-logo"
    src="../../../../assets/img/logos/battle_royale.png"
    alt="" />

  <div class="left-part"></div>

  <div class="boards-container">
    @for (board of boards; track board.id) {
      <div class="board" [style.transform]="getBoardTransform(board.id)">
        <img [src]="board.image" [alt]="board.name" />
      </div>
    }
  </div>

  <div class="right-part">
    <img
      class="rivals-box"
      src="../../../../assets/img/backgrounds/box.png"
      alt="" />
    <div class="badges-container">
      @for (badge of badges; track badge.id) {
        <div class="badge">
          <img [src]="badge.image" [alt]="badge.name" />
          <p>{{ badge.name }}</p>
        </div>
      }
    </div>
  </div>
</div>
