<div class="battle-container">
  <div class="text-container">
    <h1 [innerHTML]="'home.description.title' | translate"></h1>
    <p [innerHTML]="'home.description.texte' | translate"></p>
  </div>
  <img
    class="mask-image-top"
    src="../../../../assets/img/backgrounds/fille_desert_2.png"
    alt="" />

  <div class="fille-desert">
    <img
      class="mask-image"
      src="../../../../assets/img/backgrounds/fille_desert.png"
      alt="Fille Desert" />
    <img
      class="content-image"
      src="../../../../assets/img/backgrounds/desert.jpg"
      alt="Image masquée" />
  </div>
</div>
